html.rui-night-mode .accordian_new{
  background-color: #292f38 !important;
  border: 1px solid #454545;
  -webkit-box-shadow: none !important;
}
html.rui-night-mode .accordian_new_for_task{
  background-color: #292f38 !important;
  -webkit-box-shadow: none !important;
  border: 1px solid #454545;
}

html.rui-night-mode body .left_height{
  border-left: 1px solid #454545;
}
html.rui-night-mode .mycalendar::-webkit-scrollbar {
  width: 1px;
  background-color: #454545 !important;
}
html.rui-night-mode body .mycalendar::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #454545 !important;
}
html.rui-night-mode body .mycalendar::-webkit-scrollbar-track {
  border-radius: 1px;
  background-color: #454545 !important;
}
// .modal.fade:not(.in) .modal-dialog {
//   -webkit-transform: translate3d(25%, 0, 0) !important;
//   transform: translate3d(25%, 0, 0);
// }

html.rui-night-mode .my_time_new{
  color: #a9b1bb !important;
}
html.rui-night-mode .address_data_small span{
  color: #a9b1bb !important;
}
html.rui-night-mode .topppp_111{
  border-bottom-color: #3c424c;
}
.topppp_111{
  border-bottom: 1px solid #e6ecf0;
}
html.rui-night-mode .my_card_top {
  border-top: none;
  border-right: 1px solid #454545;
  border-left: 1px solid #454545;
  border-bottom: 1px solid #454545;
  box-shadow: none !important;
}
html.rui-night-mode .meesage_div{
  background-color: #292f38 !important;
  border: 1px solid #454545 !important;
  
}
html.rui-night-mode .new_border_box .row{
  background-color: #292f38 !important;
}
.btn-brand:hover {
    color: #fff !important;
}
.mycalendar_123::-webkit-scrollbar-track
  {
    border-radius: 1px;
    background-color: #ffffff !important;
  }
  .mycalendar_123::-webkit-scrollbar
  {
    width: 1px;
    background-color: #ffffff !important;
  }
  .mycalendar_123::-webkit-scrollbar-thumb
  {
    border-radius: 1px;
    background-color:#ffffff !important;
  }
@media  (min-width: 601px) and (max-width: 768px){
  .data_model {
    width: auto !important;
  }
.cate_12{
  margin-bottom: 15px !important
}
.button_add{
  text-align: right !important;
  top: 0px;
    position: absolute;
    text-align: right;
    margin-left: -46px;
    margin-top: 10px
}
.mob12{
  padding-right: 3px !important;
  padding-left: 1px !important
}
textarea.form-control {
    height: 183px !important;
}
}
@media only screen and (max-width: 600px){
  .pro_te {
    width: 100% !important;
  }
  .radio_1{
    width: auto !important;
    margin-bottom: 8px !important;
  }
  .addddddd{
    margin-top: 12px !important
  }
  .radio_inline{
    display: block !important;
  }
  .typeahead_pro{
    width: auto !important;
  }
  .select_flat{
    min-width: 200px !important
  }
  .button_add{
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: right !important;
  }
  .cate_12{
    margin-bottom: 15px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .mob1{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .lead_row{
    width: auto !important;
  }
  .mob1{
    margin-bottom: 8px !important;
  }
}
.pad1{
  padding-left: 10px;
  padding-right: 10px;
}
.falt_no{
  width: 27% !important
}
.typeahead_pro{
  width: 100%;
}
// .pro_te{
//   width: 50%
// }
.lead_spinner{
  justify-content: center;
    position: absolute;
    width: 45px;
    height: 45px;
    margin-left: 39%;
    font-size: 14px;
    z-index: 1
}
html.rui-night-mode .contact_sort div {
    background-color: #292f38;
    border-color: #3c424c;
    color: #a0aebb !important
}
html.rui-night-mode .tttt{
    background-color: #2b323b !important;
    color: #c7d1db !important
}
html.rui-night-mode .tttt:hover{
    color: #c7d1db !important
}
.lead_model {
  max-width: 900px;
  margin: 1rem auto;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media(max-width: 768px) {
    min-height: calc(100vh - 20px);
  }
}
.myli:hover{
  background-color: rgba(114, 94, 195, 0.6);
  }
  .myli{
    padding: 10px;
  }
.lead_heading{
  padding: 15px 15px!important;
}
.emp_input{
  margin-top: 10px
}
textarea.form-control {
    height: 163px;
}
.btn-round:focus{
  webkit-box-shadow: none;
    box-shadow: none;
    color: none;
}
    #btnWarm:hover{
      background: #ffcc00 !important;
    }
    #btnHot:hover{
      background: #ff6600 !important;
    }
    #btnHottest:hover{
    background: #d40000 !important;
    }
    #btnCold:hover{
    background: #00ccff !important;
    }
    #btnFreezed:hover{
      background: #3377dc !important;
    }
.radio_inline{
  display: inline-flex;
  justify-content: space-between;
  width: 100%
}
.project_table {
  margin-top: 10px
}
.project_table thead tr th {
  padding: 6px 25px !important
}
.project_table tbody tr td {
  padding: 6px 25px !important
}
.jjsbutton Button{
padding: 5px 11px !important
}
////////////////////////////////////////////////////////////////////////////////////////////////////

@import "../../../../common-assets/css/variables";
@import "../../../../common-assets/css/rootui-parts/mailbox";
// @import url('https://fonts.googleapis.com/css2?family=Cuprum&family=Lobster&family=Poiret+One&family=Poppins&family=Quicksand&display=swap');
html.rui-night-mode .contact_card {
box-shadow: #0a0a0a 6px 8px 16px -3px !important;
}
html.rui-night-mode .contact_card div .icon_input {
border-bottom: 1px solid #3c424c !important;
}
html.rui-night-mode .contact_card div .night_img {
border: 1px solid #3c424c !important;
}
html.rui-night-mode .card div div .icon_set{
background: #3c454e !important;
border:none;
}
html.rui-night-mode .card div .status_btn2{
  background: #3c454e !important;
  border:none;
}
html.rui-night-mode .h3{
  color: #c7d1db !important
}
html.rui-night-mode .card .subcard1 , html.rui-night-mode .card .subcard2{
  background-color: #292f38;
  border-color: #3c424c;
}
html.rui-night-mode .card .task_list2{
  background-color: #292f38;
}
html.rui-night-mode .card .task_list2 div .task_list_tasks, html.rui-night-mode .card .p_info  {
border-top:1px solid #3c424c;
}
html.rui-night-mode .card .task_list2 div .input_data1222 div .night_mode_mob1 div{
  background-color: #292f38;
  border-color: #3c424c;
    color:rgb(171, 171, 171) !important;
}
html.rui-night-mode .card .task_list2 div .input_data1222 div .night_mode_mob2 div{
  background-color: #292f38;
  border-color: #3c424c;
    color:rgb(171, 171, 171) !important;
}
html.rui-night-mode .card .task_list2 div .input_data1222 div .night_mode_mob1 div span, html.rui-night-mode .card .task_list2 div .input_data1222 div .night_mode_mob2 div span{
    background-color: #3c424c;
}
html.rui-night-mode .card .task_list2 div .input_data1222 div .night_mode_mob2 div  div{
    color:rgb(171, 171, 171) !important;
}
html.rui-night-mode .card .subcard1 , html.rui-night-mode .card .subcard2 div .task_list_tasks{
border-top:1px solid #3c424c;
}
html.rui-night-mode .card .subcard1 , html.rui-night-mode .card .subcard2  .p_infi{
border-top:1px solid #3c424c;
}
html.rui-night-mode .card .subcard1 .conversation_head div div .contact_details_head .img_data{
  border: 1px solid #3c424c !important;
}
html.rui-night-mode .card .subcard1 .conversation_head .input_data12 div .update_status div, html.rui-night-mode .card .subcard1 .conversation_head .input_data12 div  div {
  background-color: #292f38;
  border-color: #3c424c;
    color:rgb(171, 171, 171) !important;
}
html.rui-night-mode .card .subcard1 .message_box div div .grey_msg{
  background-color: #323942;
}
html.rui-night-mode .card .subcard1 .message_box{
  border-top: 1px solid #3c424c;
}
html.rui-night-mode .rui-section-lines .rui-page-title div div div .contact_sort div{
  background-color: #292f38;
  border-color: #3c424c;
}
html.rui-night-mode .rui-section-lines .rui-page-title div div div .contact_sort div div{
  color: #a9b1bb !important;
}
html.rui-night-mode .rui-section-lines .rui-page-title div div div .contact_sort div div span{
  background: #3c424c !important;
}
html.rui-night-mode .card .subcard1 .message_box::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #dfdfdf !important;
}

html.rui-night-mode .card .subcard1 .message_box::-webkit-scrollbar
{
	width: 4px;
	background-color:#dfdfdf;
}

html.rui-night-mode .card .subcard1 .message_box::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color:#000;
}
html.rui-night-mode .rui-quill .ql-container{
    border-color: #3c424c;
}
html.rui-night-mode .social_icon {
    background: #393f49;
    border-radius: 8px;
    -webkit-box-shadow: #000 2px 2px 1px -1px;
    box-shadow: #000 2px 2px 1px -1px;
    margin-right: 5px;

}
html.rui-night-mode .task_select22 div , html.rui-night-mode .task_select33 div{
  background: #292f38;
    border-color: #3c424c;
    color: #626973;
}
html.rui-night-mode .task_select22 div div span , html.rui-night-mode .task_select33 div div span{
  // background: #292f38;#626973
    background: #3c424c;
}
html.rui-night-mode .task_select22 div div div{
    color:#626973;
    // ;background: #3c424c;
}
 html.rui-night-mode div div .icon_set:hover{
 background:#4e545a !important
}
html.rui-night-mode .skype_img{
fill:#c7d1db !important
}
html.rui-night-mode .user_data{
border-color: #c7d1db !important;
color: #c7d1db !important
}
html.rui-night-mode.ql-editor p em{

  color: #a0aebb !important;
}
//////////

.card_padding{
  margin-right: 0px !important;
  margin-left: 0px !important;
  padding: 25px 15px;
}
.marquee {

  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

.marquee span {
  display: inline-block;
  width: max-content;


  /* show the marquee just outside the paragraph */
  will-change: transform;

}

.marquee span:hover {
  animation-play-state: running !important;
  animation: marquee 7s linear infinite;
}


@keyframes marquee {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}


/* Respect user preferences about animations */

@media (prefers-reduced-motion: reduce) {
  .marquee span {
    animation-iteration-count: 1;
    animation-duration: 0.01;
    /* instead of animation: none, so an animationend event is
     * still available, if previously attached.
     */
    width: auto;
    padding-left: 0;
  }
}
.marquee_1 {

  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

.marquee_1 span {
  display: inline-block;
  width: max-content;


  /* show the marquee just outside the paragraph */
  will-change: transform;

}

.marquee_1 span:hover {
  animation-play-state: running !important;
  animation: marquee 7s linear infinite;
}


@keyframes marquee_1 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}


/* Respect user preferences about animations */

@media (prefers-reduced-motion: reduce) {
  .marquee_1 span {
    animation-iteration-count: 1;
    animation-duration: 0.01;
    /* instead of animation: none, so an animationend event is
     * still available, if previously attached.
     */
    width: auto;
    padding-left: 0;
  }
}


.marquee_2 {

  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

.marquee_2 span {
  display: inline-block;
  width: max-content;
  margin-left: 0px !important;

  /* show the marquee just outside the paragraph */
  will-change: transform;

}

.marquee_2 span:hover {
  animation-play-state: running !important;
  animation: marquee 7s linear infinite;
}


@keyframes marquee_2 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}


/* Respect user preferences about animations */

@media (prefers-reduced-motion: reduce) {
  .marquee_2 span {
    animation-iteration-count: 1;
    animation-duration: 0.01;
    /* instead of animation: none, so an animationend event is
     * still available, if previously attached.
     */
    width: auto;
    padding-left: 0;
  }
}
.shift_right{
  margin-left: auto !important;
}
.card_icon{
  float: right;
}
.toggl_2{
  display: none;
    padding: 5px 5px;
    visibility: hidden;
    border: 1px solid #e6ecf0;
    border-radius: 0.25rem;
    padding-bottom: 10px !important;
    padding-top: 0px !important;
    opacity: 0;
    z-index: 3;
}
.rrr{
  width: 100%;
 height: 30px;
}
.sssssss:hover {
    background: transparent !important;
}
.sssssss{
  width: 100%;
}
.dropdown-menu[x-placement="left-start"] {
  margin-top: 0px !important;
  margin-right: 0px;
}
.tttt{
  background: #fff !important;
  border: none !important;
  color: #6a707a !important;
  margin-left: -5px !important;
  width: 100%
}
.tttt :hover{
  color:rgb(37, 36, 43) !important
}

.icon_set{
  outline: none;
  border: none;
  // width: 40px;
  // padding: 6px 9px;
  width: 30px;
    height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  background: #f8f9fa !important;
}
.icon_set:hover{
 background:#f8f9fa !important
}
.icon_set:hover svg{
 color:  #393f49 !important
}
.icon_input{
  border-bottom: 1px solid #e6ecf0;
  padding: 7px;

}
.icon_coclor_222{
  color:#bcbec0;
  font-weight: bold;
  min-width: 12px;
  height: 12px;
  width: 12px
}
.mybadge{
  padding: 6px 7px;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
}
.input_radio{
    display: inline-flex;;
    width: 100%;
    justify-content: space-between;
  }
  .custom-radio .custom-control-input:checked ~ .custom-control-label::before, .custom-switch .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #8bc240;
    border-color: #8bc240;
  }
  .rui-toast-container{
    top: 0px !important;
    z-index: 1018 !important;
    margin: 0px 30px 10px !important;
  }
  .task_list2 {
    // height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
  
  }
  .task_list2 .closebtn {
    position: absolute;
    top: 15px;
    right: 14px;
    margin-left: auto;
    cursor: pointer;
  }
  .lead_spinner_lead{
    justify-content: center;
      position: absolute;
      width: 45px;
      height: 45px;
      margin-left: 50%;
      font-size: 14px;
      z-index: 1
  }
  .rui-page .rui-page-content{
      overflow-x: inherit !important;
      padding: inherit !important;
  }
  .data_model{
    width: 1050px ;
    max-width: 1130px !important;
    float: right !important;
    margin-top: 5.75rem !important;
    margin-bottom: 0px !important;
  }
  .insurance_img_lead{
    width: 50px;
      margin-top: -22px;
      margin-right: -12px;
  }
  .insurance_img_for_acc_lead{
    width: 40px;
      margin-top: -22px;
      margin-right: -12px;
  }
  .lead_heading_new{
    padding: 15px 15px !important;
  }
  .task_list2{
    border-top-left-radius: 5px;
  }













































  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
html.rui-night-mode body .mycalendar::-webkit-scrollbar-track
{
  border-radius: 1px;
  background-color: #626973 !important;
}
html.rui-night-mode body .mycalendar::-webkit-scrollbar
{
  width: 1px;
  background-color: #626973 !important;
}
html.rui-night-mode body .mycalendar::-webkit-scrollbar-thumb
{
  border-radius: 1px;
  background-color:#626973 !important;
}
html.rui-night-mode body .height_sales{
  border-right: 1px solid #626973;
}
.height_sales {
    border-right: 1px solid #e6ecf0;
  }
html.rui-night-mode body .left_height{
  border-left: 1px solid #626973;
}
.left_height {
    border-left: 1px solid #e6ecf0;
  }
.Sales_title{
 padding: 15px 15px !important;
}
.slaes_pill{
    width: 100%;
}
.slaes_pill li{
    width: 50%;
}
.slaes_pill li a{
    justify-content: center;
    text-transform: capitalize !important;
}
.slaes_pill .nav-link.active {
    color: #fff;
    background-color: #8bc240;
}
.slaes_pill + .tab-content{
    margin-top: 0px !important;
}
.mycalendar{
    overflow-x: hidden ;
    overflow-y: scroll;
  }
  .mycalendar::-webkit-scrollbar
  {
    width: 1px;
    background-color: #ffffff !important;
  }

  .mycalendar::-webkit-scrollbar-thumb
  {
    border-radius: 1px;
    background-color:#ffffff !important;
  }
  .mycalendar::-webkit-scrollbar-track
  {
    border-radius: 1px;
    background-color: #ffffff !important;
  }

  .mycalendar::-webkit-scrollbar
  {
    width: 1px;
    background-color: #ffffff !important;
  }

  .mycalendar::-webkit-scrollbar-thumb
  {
    border-radius: 1px;
   background-color:#ffffff !important;
  }
  .lead_spinner{
    justify-content: center;
      position: absolute;
      width: 45px;
      height: 45px;
      margin-left: 41%;
      font-size: 14px;
      z-index: 1
  }
  .employee_spinner_1{
    justify-content: center;
    position: absolute;
    width: 45px;
    height: 45px;
    margin-left:48%;
   font-size: 14px;
   z-index: 1
  }
  .test_collapse{

    animation: fadein 0.5s;
      -moz-animation: fadein 0.5s;
      -webkit-animation: fadein 0.5s;
      -o-animation: fadein 0.5s;
  }
  @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-moz-keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-webkit-keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-o-keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity: 1;
      }
  }
  .make_a_call{
    text-align: end;
    margin-top: 10px;
    margin-right: 14px;
    width: 100%;
  }
  .show_time{
    margin-top: 7px;
    margin-right: 10px;
  }
  .display_none{
    display: none;
  }


  .grup_btn{
    width: 100%;
    text-align: center;
  }
  .grup_btn button{
    text-transform: capitalize;
    color: #8d8d8d;
    background-color: #fff;
    border-right: 1px solid #c2c2c2 !important;
    border: 1px solid #c2c2c2;
    padding: 9px 10px;
    font-size: 12px;
    justify-content: center;
    // border-radius: 6px !important;
  }
  .grup_btn button:hover{
    color: #fff;
    background-color: #4B8178;
    border-color: #4B8178;
  }
  .grup_btn .btn-group{
    width: 100%;
    padding: 7px 10px;
  }
  .grup_btn button:focus{
    color: #fff;
    background-color: #4B8178;
    border-color: #4B8178;
    box-shadow: none;
}
.my_color{
  background-color: #f8f8f8;
}
.new_border_box{
  padding: 7px 10px;
}
.new_border_box .row{
  margin-left: 0px !important;
  margin-right: 0px !important;
  // border: 2px solid #8bc240;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 5px;
  padding: 12px 0px;
  padding-bottom: 1px !important;
}
.new_border_box .col-lg-6{
  padding-left: 10px;
    padding-right: 10px;
}
.text_align{
  text-align: end;
}
.name_type{
  font-size: 11.8pt;
    font-weight: 600;
    color:#8bc240 ;
    line-height: 18px;
    font-family: 'Poppins', sans-serif;
    // height: 25px;
}
.name_type_small{
  font-size: 10pt;
    font-weight: 600;
    color:#8bc240 ;
    line-height: 18px;
    font-family: 'Poppins', sans-serif;
    // height: 25px;
}
.time_new{
  font-size: 7.19pt;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    // font-weight: 600;
}
.phone_call{
  fill: #4B8178;
    max-width: 24px;
    height: 25px;
    width: 18px;
    margin-right: 6px;
}
.phone_call path{
  color: #4B8178;
}
.phone_call_message{
  fill: #4B8178;
  height: 13px;
  width: 16px;
  margin-right: 3px;
}
.phone_call_message path{
  color: #4B8178;
}
.phone_call circle{
  color: #fff;
}
.map_data{
  fill: #4B8178;
    max-width: 16px;
    height: 16px;
    width: 16px;
    margin-right: 6px;
}
.map_data circle{
  color: #fff;
}
.phone_new{
  display: inline-flex;
}
.mobile_no_type{
  font-size: 11.8pt;
    font-weight: 600;
    color:#4B8178 ;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}
.mobile_no_type_small{
  font-size: 10pt;
    font-weight: 600;
    color:#4B8178 ;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}
.address_data{
  width: 100%;
    display: inline-flex;
    margin-top: 12px;
}
.address_data span{
  font-size: 8.19pt;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    // font-weight: 600;
}
.address_data_small{
  width: 100%;
    display: inline-flex;
    margin-top: 6px;
}
.address_data_small span{
  font-size: 10px;
  margin-top: 1px;
  white-space: nowrap;
  font-family: 'Poppins', sans-serif;
}
.insurance_img{
  width: 85px;
    margin-top: -22px;
    margin-bottom: -20px;
}
.insurance_img_for_acc{
  width: 65px;
    margin-top: -22px;
    margin-bottom: -18px;
}
 .accordian_new{
  margin-left: 0px !important;
  margin-right: 0px !important;
  // border: 2px solid #8bc240;
  border-radius: 10px;
  // border-top-right-radius: 10px;
  // border-top-left-radius: 10px;
  // border-top-right-radius: 10px;
  background-color: #fff;
  margin-bottom: 5px;
  padding: 8px 0px;
  box-shadow: 1px 4px 4px #e1e1e1 !important;
}
.accordian_new_for_task{
  margin-left: 0px !important;
  margin-right: 0px !important;
  // border: 2px solid #8bc240;
  border-radius: 10px;
  // border-top-right-radius: 10px;
  // border-top-left-radius: 10px;
  // border-top-right-radius: 10px;
  background-color: #fff;
  margin-bottom: 5px;
  padding: 13px 3px;
  box-shadow: 1px 4px 4px #e1e1e1 !important;
}
.my_card_top{
  border-top: none;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-bottom:1px solid #ffffff;
  margin-top: -15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 1px 4px 4px #e1e1e1 !important;
  // border-top-right-radius: 10px;
}
.my_card_top .card-body {
  padding: 1px 15px;
  padding-bottom: 15px;
}
.my_pad_bbb{
  padding-left: 25px;
    padding-top: 8px;
    padding-bottom: 10px;
}
.car_detais{
  font-size: 8.19pt;
    // font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.hole_data .my_side{
  text-align: end;
}
.hole_data .col-lg-6{
  margin-top: -5px;
}
.thums_up_down{
  display: inline-flex;
    width: 100%;
    justify-content: center;
    padding: 10px 6px;
}
.thums_down_new{
  cursor: pointer;
}
.thums_down_new img{
  width: 45px;
 height: 45px;
}
.thums_up_new{
  cursor: pointer;
  margin-left: 9px;
}
.thums_up_new img{
  width: 45px;
 height: 45px;
}
.btn_user button{
  width: 100%;
    justify-content: center;
    text-transform: initial;
    margin-bottom: 10px;
}
.btn_user button:hover{
  color: #fff;
}
.meesage_div{
  margin-left: 0px !important;
    margin-right: 0px !important;
    // border-radius: 10px;
    background-color: #fff;
    margin-bottom: 5px;
    padding: 8px 0px;
    border: 1px solid rgb(230, 236, 240);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: 'Poppins', sans-serif;
    flex-direction: column-reverse !important;
    display: flex;
    overflow-x: hidden;
    margin-bottom: 10px;
}
.meesage_div_input{
  margin-left: 0px !important;
    margin-right: 0px !important;
    background-color: #fff;
    margin-bottom: 5px;
    padding: 8px 20px;
    border: 1px solid rgb(230, 236, 240);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 75px;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
}
.my_input_new{
  margin-top: -13px;
  display:flex;
  flex-direction:row;
}
.my_input_new button{
  background-color: #4B8178;
  color: #fff;
  border-color: #4B8178;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  position: absolute;
  right: 35px;
  padding: 20px 12px;
  font-size: 14px;
  font-weight: 100;
  margin-top: 6px;
}
.custom-search {
  position: relative;
  width: 300px;
}
.custom-search-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 100px;
  padding: 10px 100px 10px 20px;
  line-height: 1;
  box-sizing: border-box;
  outline: none;
}
.custom-search-botton {
  position: absolute;
  right: 3px;
  top: 3px;
  bottom: 3px;
  border: 0;
  background: #d1095e;
  color: #fff;
  outline: none;
  margin: 0;
  padding: 0 10px;
  border-radius: 100px;
  z-index: 2;
}
.new_message_1{
  margin-left: auto;
  background: #5559e3;
  color: #fff;
  border-radius: 8px;
  border-top-right-radius: 0px;
  margin-right: 10px;
  font-family: 'Poppins', sans-serif;
  float: right;
  margin-bottom: 10px;
}

.overclass_user_new{
  width:93%;
  margin-bottom:10px;
   margin-top:5px;
}



.new_message_1 h5{
  color: #fff;
  padding: 10px 15px;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 2px;
}
.new_message_bage{
  text-align: center;
    width: 100%;
    justify-content: center;
    font-size: 10px;
}
.new_message_bage h6{
  font-style: italic;
  font-size: 11px;
  color: #9b9b9b;
}
.mesage_timimg{
  text-align: end;
    margin-right: 15px;
    margin-top: -11px;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 11px;
    color: #9b9b9b;
}




.my_class_1{
  margin-bottom: 10px;
  height: 75px;
  margin-right: 20px;
  margin-left: 0px;
  width: 100%;
}
.my_class_2_phone{
  margin-top: -6px;
}















.row_flex{
  flex-wrap: nowrap;
}

.column_a{
  // background: #4B8178;
  border-bottom-left-radius: 8px !important;
    border-top-left-radius: 8px !important;
}
.column_b{
  background: #8bc240;
    width: 100px;
}
.column_c{
  background: #007bff;
  width: 100px;
}
.column_d{
  background: #6c757d;
    width: 100px;
}
.column_e{
  background: #903bcc;
    width: 100px;
}
.column_f_lead{
  background: #1fb534;
    width: 150px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
.column_g{
  background: #32bfc8;
  width: 100px;
}
.main_card{
  border: 1px solid #e6ecf0;
    width: auto;
    height: auto;
}
.time_start_lead{
  color: #8bc240;
    font-family: poppins !important;
    font-weight: 500;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 32px;
    margin-left: 10px;
    letter-spacing: -2px;
    margin-bottom: -40px;
    margin-top: 12px;
}
.minutss{
  color: #fff;
    font-family: poppins !important;
    font-weight: 500;
    white-space: nowrap;
    font-size: 9px;
    margin-left: 10px;
    margin-top: 8px;
}
.icon_coclor{
  width: 35px;
    height: 30px;
    color: white;
    fill: white;
    margin-top: 14px;
    margin-bottom: 8px;
}
.calllll{
  color: #fff;
    white-space: nowrap;
    font-size: 10px;
    font-weight: 500;
    font-family: poppins !important;
    margin-left: -5px;
    margin-bottom: 10px;
}
.msg_icon{
  width: 100%;
    color: #fff;
    height: 35px;
    margin-top: 8px;
    margin-bottom: 7px;
}
.send_sms{
  color: #fff;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
}
.calendarr{
  width: 100%;
    color: #fff;
    height: 30px;
    margin-top: 8px;
    margin-bottom: -5px;
}
.add_app{
  color: #fff;
    font-size: 10px;
    font-weight: bolder;
    text-align: center;
}
.filterrr{
  width: 100%;
    color: #fff;
    height: 30px;
    margin-top: 8px;
    margin-bottom: 10px;
}
.add_lead{
  color: #fff;
    font-size: 10px;
    font-weight: bolder;
    margin-left: 0px;
    text-align: center;
}
.monitorr{
  width: 100%;
    color: #fff;
    height: 30px;
    margin-top: 8px;
    margin-bottom: 10px;
}
.mirrorr{
  color: #fff;
  font-size: 10px;
  font-weight: bolder;
  margin-left: 0px;
  text-align: center;
  
}
.edittt{
  width: 100%;
    color: #fff;
    height: 30px;
    margin-top: 8px;
    margin-bottom: 10px;
    
}
.add_taskkk{
  color: #fff;
  font-size: 10px;
  font-weight: bolder;
  margin-left: 0px;
  text-align: center;
}
.alerttt{
  width: 100%;
    color: #fff;
    height: 30px;
    margin-top: 8px;
    margin-bottom: 10px;
}
.detailsss{
  color: #fff;
  font-size: 10px;
  font-weight: bolder;
  margin-left: 0px;
  text-align: center;
}
.add_new{
  margin-top: 5px;
    margin-bottom: -6px;
}
.rui-toast-container{
  top: 0px !important;
  z-index: 1018 !important;
  margin: 0px 30px 10px !important;
}
.my_model_width{
  max-width: 600px;
}
.my_date_pii .react-datepicker-popper{
  top: auto !important;
  left: 0px;
  transform: translate3d(15px, -386px, 0px) !important;
}
.my_date_pii .react-datepicker{
  display: inline-flex !important;
}
.my_pppp{
  font-size: 8.19pt;
  color: #7d7d7d;
  overflow: hidden;
  width: 200px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.date_of_app{
  color: #da0909;
  font-weight: 700;
  font-size: 13pt;
    margin-top: -6px;
    margin-bottom: -1px;
    font-family: 'Poppins', sans-serif;
}
.time_of_app{
  font-size: 9.24pt;
    font-style: italic;
    font-weight: 700;
    color: #d60808;
    font-family: 'Poppins', sans-serif;
}
.input_radio{
  display: inline-flex;;
  width: 100%;
  justify-content: space-between;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before, .custom-switch .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #8bc240;
  border-color: #8bc240;
}
.my_height_1{
  height: 100px;
}
.message_count{
  display: inline-flex;
    width: 100%;
    justify-content: space-between;
}
.message_count p{
  margin-bottom: 0px;
}
.mycalendar_message{
  overflow-x: hidden ;
  overflow-y: scroll;
}

.mycalendar_message::-webkit-scrollbar-thumb {
  background-color: #e3e3e4;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;  
}

.mycalendar_message::-webkit-scrollbar {
  width: 13px;
}
.insurance_img_twoo_acc{
  width: 40px;
}
@media (min-width:601px) and (max-width: 768px) {
.ipad_row{
  margin-right: 0px !important;
}
.ipad_row .col-lg-3{
  padding-right: 1px !important;
}
.insurance_img_twoo{
  margin-bottom: 10px;
}
.back_btn{
  width: 92%;
  text-align: end;
  margin-top: -50px;
}
.backk_2{
  z-index: 2000;
}
.back_icon{
  margin-left: 4px;
    margin-top: 1px;
}
.padd_left{
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.my_top_back{
  margin-top: 15px;
  margin-right: -7px;
  background-color: #f8f8f8;
}
.phone_call {
  height: 14px !important;
  width: 16px !important;
  margin-right: 3px !important;
  margin-top: 3px !important;
}
.mobile_no_type_small {
  font-size: 13px !important;
  margin-top: -2px !important;
  letter-spacing: 0px !important;
}
.name_type_small {
  font-size: 12px;
}
.my_time_new {
  font-size: 6.19pt !important;
}
.address_data_small span{
  font-size: 9px !important;
}
.car_detais {
  font-size: 7pt !important;}
  .btn_user button{
    font-size: 8px !important;
  }
  .thums_down_new img {
    width: 35px;
    height: 35px;
    margin: 5px;
}
.displayyy{
  display: none;
}
.my_class_1{
  height: 53px;
}
.my_style_pad{
  padding-left: 8px !important;
  padding-right: 7px !important;
}
.time_start_lead{
  font-size: 23px !important;
  margin-top: 8px !important;
}
.card_padding{
  padding: 10px 0px !important;
}
.babbbyyy_1222{
  padding-left: 9px !important;
}
.my_mobileeee{
  width: 100px !important;
}
.data_model .modal-body{
  padding: 16px !important;
}
.laedd_dta_1{
  margin-top: 15px !important;
    white-space: nowrap;
    margin-bottom: 8px !important;
    margin-left: 15px !important;
}
.my_class_2_phone{
  width: 85px  !important;
  padding-left: 10px;
}
.icon_coclor{
  width: 25px !important;
  height: 25px !important;
}
.my_phone_cl{
  width: 55px !important;
  margin-left: 9px !important;
}
.my_height_1 {
  height: 100px;
}
.my_pppp {
  width: auto;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}
.date_of_app{
  font-size: 9pt !important;
}
.time_of_app{
  font-size: 8.24pt !important;
}
}
@media (min-width:769px) and (max-width: 1440px) {
  .grup_btn button{
    padding: 9px 4px;
    font-size: 10px;
  }
  .new_border_box .col-lg-6 {
    padding-left: 3px;
    padding-right: 3px;
}
.name_type{
  font-size: 9.8pt;
}
.mobile_no_type {
  font-size: 7.8pt;
}
.phone_call {
  max-width: 17px;
  height: 15px;
  width: 16px;
  margin-right: 4px;
}
.time_new {
  font-size: 6.19pt;
}
.name_type_small{
  font-size: 9pt !important;
}
.address_data_small span {
  font-size: 9px;
}
.my_class_2_phone{
  width: 100px;
}
.time_start_lead{
  font-size: 31px;
    margin-top: 2px;
    margin-bottom: -18px;
}
.icon_coclor {
  width: 24px;
  height: 24px;
}

.calllll{
  font-size: 8px;
}
.msg_icon{
  height: 27px;
}
.mobile_no_type_small {
  font-size: 9pt;
}
.my_pppp {
    width: auto;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}
.date_of_app{
  font-size: 9pt;
}
.time_of_app {
  font-size: 8.24pt;
}
.my_class_2_phone{
  width: 100px !important;
}
.my_phone_cl{
  width: 55px !important;
}
.calendarr {
  height: 25px !important;
}
.edittt,.filterrr,.monitorr,.alerttt {
  height: 25px !important;
}
.send_sms, .add_app,.add_taskkk,.add_lead,.mirrorr,.detailsss{
  margin-top: 2px !important;
  font-size: 9px !important;
  padding: 2px 3px;
    line-height: 10px;
}
.calendarr{
  margin-bottom: 8px;
}
}
@media (min-width:1441px) and (max-width: 1550px) {
.mobile_no_type{
  font-size: 10.8pt;
}
.phone_call {
  max-width: 21px;
  height: 21px;
  width: 16px;
  margin-right: 4px;
}
.insurance_img {
  width: 85px;
  margin-top: -22px;
  margin-bottom: -20px;
}
.address_data{
  margin-top: 11px;
}
}
.medssage_message {
  fill: #8bc240;
  height: 13px;
  width: 16px;
  margin-right: 3px;
  margin-top: -1px;
}
.medssage_message path {
  color: #8bc240;
}
.data_model .modal-content{
    height: 100% !important;
}