.table thead th {
  font-weight: 500;
}
.nav-pills .nav-link{
  font-weight: 500;
}
.btn{
    font-weight: 500;
}

.dlt_icon_campaign{
  color: red;
  margin-top: 4px;
  margin-right: 5px;
//   width: 15px;
// height: 15px;
margin-left: -19px;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 2;
  width: 119px;
  color: white;
  font-size: 10px;
  background-color:black;
  border-radius: 10px;
  padding: 3px 6px 0px 3px;
}

.hover-text:hover .tooltip-text {
  visibility: visible;
}
#bottom {
  top: 25px;
  left: -23px;
}

#bottom::before {
  top: -5%;
  left: 45%;
}


.hover-text {
  position: relative;
  display: inline-block;
  font-family: Arial;
  text-align: center;
}
.marquee {
  overflow: hidden;
  box-sizing: border-box;
}

.marquee span {
  display: inline-block;
  width: max-content;


  /* show the marquee just outside the paragraph */
  will-change: transform;

}

.marquee span:hover {
  animation-play-state: running !important;
  animation: marquee 7s linear infinite;
}


@keyframes marquee {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}


/* Respect user preferences about animations */

@media (prefers-reduced-motion: reduce) {
  .marquee span {
    animation-iteration-count: 1;
    animation-duration: 0.01;
    /* instead of animation: none, so an animationend event is
    * still available, if previously attached.
    */
    width: auto;
    padding-left: 0;
  }
}
.time_data_new{
  font-style: italic;
  margin-top: -6px;
  font-size: 12px;
}
html.rui-night-mode .my_input_new {
  margin-top: -11px !important;
}
.display_block{
  display: block;
}
.display_none{
  display: none !important;
}
html.rui-night-mode .hr_newww {
  border-top: 1px solid rgba(215, 215, 215, 0.1) !important;
}
@media  (min-width: 601px) and (max-width: 768px){
  .i_pad_pad_new{
    padding-right: 15px !important;
  }
  .ipad_resp{
    width: -webkit-fill-available !important;
  }
  .task_list2Excel .closebtn {
    right: 45px !important;
}
.excel_save_button {
  padding: 11px 44px !important;
}
}
.width_data{
  width: 37%;
  font-size: 12px;
}
.textWidthNew{
  width: 63%;
  font-size: 12px;
}
.width_data_new{
  width: 120px;
}
.margin_top_new .col-lg-12{
  margin-bottom: 12px;
}
.margin_top_new .col-lg-6{
  margin-bottom: 10px;
}
.accordian_heading{
  align-self: center;
  font-size: 15px;
  font-weight: 500;
}
.up_arrow_new{
  margin-top: 6px;
    width: 20px;
    height: 20px;
    stroke-width: 2.5px;
}
.border_accordian{
  border-radius: 10px;
  display: inline-flex;
    width: 100%;
    justify-content: space-between;
}
.uplodddddd_poliii{
  align-self: center;
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;

}
.lead_bagesss{
  font-size: 15px;
  padding: 6px 12px !important;
  height: 28px;
  margin-top: 8px;
}
.box_data{
  margin-left: 0px !important;
  margin-right: 0px !important;
  background-color: #fff;
  margin-bottom: 5px;
  padding: 8px 0px;
  border: 1px solid #e6ecf0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow-x: hidden;
  margin-bottom: 10px;
  margin-top: 9px;
  border-radius: 10px;
}
.my_input_new{
  margin-top: -13px;
  display:flex;
  flex-direction:row;
}
.my_input_new button{
  background-color: #8bc240;
  color: #fff;
  border-color: #8bc240;
  text-transform: capitalize;
  position: absolute;
  right: 35px;
  padding: 20px 12px;
  font-size: 14px;
  font-weight: 100;
  margin-top: 6px;
}
.my_input_new button:hover{
  color: #fff;
}
.meesage_div_input_neww{
  margin-left: 0px !important;
    margin-right: 0px !important;
    background-color: #fff;
    margin-bottom: 5px;
    padding: 8px 20px;
    border: 1px solid rgb(230, 236, 240) !important;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 75px;
    font-style: italic;
}

html.rui-night-mode .meesage_div_input_neww {
  border: 1px solid #454545 !important;
}

html.rui-night-mode .lord_111 {
  border: none !important;
}
.lord_111{
  float: right;
  margin-bottom: 0px;
}

.papercliss{
  position: absolute;
  right: 118px;
  margin-top: 25px;
  width: 20px !important;
  min-width: 16px;
  height: 25px !important;
  cursor: pointer;
}


.excel_haeding{
  padding: 15px 25px !important;
}

.task_list2Excel {
  // height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  top: 70px;

}

.task_list2Excel .closebtn {
  position: absolute;
  top: 15px;
  right: 14px;
  margin-left: auto;
  cursor: pointer;
}
.task_heading22{
  font-size: 20px;
}


.upadee_filesss{
  margin-left: auto;
  width: 40px !important;
  min-width: 16px;
  height: 35px !important;
  color: #fff;
  background: #8bc240;
  border-radius: 3px;
  padding: 4px 5px;
  cursor: pointer;
}

.lord_lable{
  width: 100%;
  height: 36px;
  border-radius: 2px;
  border: 1px solid #c7c7c7;
  display: inline-flex;
  background: #fbfcfc;
}
.choose{
  width: 55%;
  height: 36px;
  float: right;
  background: #8bc240;
  color: azure;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-top: 7px;
  cursor: pointer;
/* margin: auto; */
text-align: center;
}

.no_input_file{
  display: none;
}
.file_name_newww{
  width: 70%;
  height: 23px;
  padding-left: 10px;
  // padding-top: 5px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.excel_name{
  align-self: center
}
.excel_name p{
  margin-bottom: 0px;
}

.mycalendar{
  overflow-x: hidden ;
  overflow-y: scroll;
}
.employee_spinner_1{
  justify-content: center;
  position: absolute;
  width: 45px;
  height: 45px;
  margin-left:48%;
 font-size: 14px;
 z-index: 1
}
.mycalendar::-webkit-scrollbar
{
  width: 1px;
  background-color: #ffffff !important;
}

.mycalendar::-webkit-scrollbar-thumb
{
  border-radius: 1px;
  background-color:#ffffff !important;
}
.mycalendar::-webkit-scrollbar-track
{
  border-radius: 1px;
  background-color: #ffffff !important;
}

.mycalendar::-webkit-scrollbar
{
  width: 1px;
  background-color: #ffffff !important;
}

.mycalendar::-webkit-scrollbar-thumb
{
  border-radius: 1px;
 background-color:#ffffff !important;
}
.mycalendar_new::-webkit-scrollbar
{
  width: 1px;
  background-color: #ffffff !important;
}

.mycalendar_new::-webkit-scrollbar-thumb
{
  border-radius: 1px;
  background-color:#ffffff !important;
}
.mycalendar_new::-webkit-scrollbar-track
{
  border-radius: 1px;
  background-color: #ffffff !important;
}

.mycalendar_new::-webkit-scrollbar
{
  width: 1px;
  background-color: #ffffff !important;
}

.mycalendar_new::-webkit-scrollbar-thumb
{
  border-radius: 1px;
 background-color:#ffffff !important;
}
.test_collapse{

  animation: fadein 1.25s;
    -moz-animation: fadein 1.25s;
    -webkit-animation: fadein 1.25s;
    -o-animation: fadein 1.25s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
.excel_save_button{
  // margin-top: -58px;
  text-align: end;
  padding: 11px 14px;
  // position: absolute;
  //   right: 0;
  //   bottom: -174px 
}
.excel_save_button button{
  text-transform: capitalize;
}

html.rui-night-mode .heading_opeartion {
  background-color: #292f38 !important;
}

.heading_opeartion{
  background-color: #f8f8f8;
}
.height_sales {
border-right: 1px solid #e6ecf0;
}

html.rui-night-mode body .height_sales{
border-right: 1px solid #626973;
}

.new_border_box_opearrrr_neww{
padding: 7px 10px;
}
.new_border_box_opearrrr_neww .row{
margin-left: 0px !important;
margin-right: 0px !important;
// border: 2px solid #8bc240;
border-radius: 10px;
background-color: #fff;
margin-bottom: 5px;
padding: 2px 0px;
padding-bottom: 5px;
border: 1px solid #ebebeb;
}
.new_border_box_opearrrr_neww .col-lg-6{
padding-left: 10px;
  padding-right: 10px;
}

html.rui-night-mode .new_border_box_opearrrr_neww .row {
background-color: #292f38 !important;
border: 2px solid #8f8f8f;
}



.excel_file_nam{
font-size: 10.8pt;
font-weight: 500;
color:#4B8178 ;
letter-spacing: 0px;
line-height: 20px;
margin-bottom: 0px;
margin-top: 2px;
// text-align: end;
// text-transform: uppercase;
}

.marquee {

overflow: hidden;
box-sizing: border-box;
}

.marquee span {
display: inline-block;
width: max-content;


/* show the marquee just outside the paragraph */
will-change: transform;

}

.marquee span:hover {
animation-play-state: running !important;
animation: marquee 7s linear infinite;
}


@keyframes marquee {
0% { transform: translate(0, 0); }
100% { transform: translate(-100%, 0); }
}


/* Respect user preferences about animations */

@media (prefers-reduced-motion: reduce) {
.marquee span {
  animation-iteration-count: 1;
  animation-duration: 0.01;
  /* instead of animation: none, so an animationend event is
  * still available, if previously attached.
  */
  width: auto;
  padding-left: 0;
}
}

.date_showww{
font-size: 7.19pt;
  font-style: italic;
  margin-bottom: 0px;
  // text-align: end;
  margin-top: -1px;
}
.range_of_excel{
font-size: 8.19pt;
  font-style: italic;
  margin-bottom: -1px;
  margin-top: 0px;
  color: grey;
}
.range_of_excel_pro{
font-size: 9.19pt;
  font-style: italic;
  margin-bottom: -1px;
  margin-top: -3px;
}
.pad_no{
padding-left: 5px;
}
.pad_ri{
padding-right: 0px;
}
.show_data_of_excell{
display: grid;
  width: 100%;
  margin-left: 10px;
}
.exc_fileee{
width: 45px;
height: 45px;
margin-top: 6px
}
.progress_barr{
margin-top: 1px;
height: 10px;
}
.trash_excel{
display: inline-flex;
  justify-content: space-between;
}
.dustbin_excel{
margin-top: 3px;
  stroke-width: 2 !important;
  cursor: pointer;
}
.excel_file_without_pro{
width: 55px;
  height: 55px;
}

.employee_spinner_1{
justify-content: center;
position: absolute;
width: 45px;
height: 45px;
margin-left:48%;
font-size: 14px;
z-index: 1
}
.scroll_1{
overflow-x: scroll;
overflow-y: hidden;
}
.scroll_1::-webkit-scrollbar{
    height: 5px;
    width: 3px;
    background: #fff;
}
.scroll_1::-webkit-scrollbar-thumb:horizontal{
    background: #a4a6a8;
    border-radius: 10px;
}
html.rui-night-mode .scroll_1::-webkit-scrollbar {
height: 5px;
width: 3px;
background: #292f38 !important;
}

.scroll_1::-webkit-scrollbar{
  height: 5px;
  width: 3px;
  background: #ffffff;
}
.scroll_1::-webkit-scrollbar-thumb:horizontal{
  background: #a4a6a8;
  border-radius: 10px;
}
.scroll_1{
overflow-x: scroll;
overflow-y: hidden;
}
.table_data_contactss{
vertical-align: middle !important;
padding: 10px 10px !important;
text-transform: capitalize;
}
.table_data_new{
vertical-align: middle !important;
padding: 10px 10px !important;
font-size: 12px;
}
html.rui-night-mode  .react-loading-skeleton {
    --base-color: #323942;
    --highlight-color: #6c7075;
  }
html.rui-night-mode  .task_list2Excel{
background-color: #292f38;
}
html.rui-night-mode  .task_list2Excel div .task_list_tasks, html.rui-night-mode  .p_info  {
border-top:1px solid #3c424c;
}
html.rui-night-mode  .task_list2Excel div .input_data1222 div .night_mode_mob1 div{
background-color: #292f38;
border-color: #3c424c;
  color:rgb(171, 171, 171) !important;
}
html.rui-night-mode  .task_list2Excel div .input_data1222 div .night_mode_mob2 div{
background-color: #292f38;
border-color: #3c424c;
  color:rgb(171, 171, 171) !important;
}
html.rui-night-mode  .task_list2Excel div .input_data1222 div .night_mode_mob1 div span, html.rui-night-mode  .task_list2Excel div .input_data1222 div .night_mode_mob2 div span{
  background-color: #3c424c;
}
html.rui-night-mode  .task_list2Excel div .input_data1222 div .night_mode_mob2 div  div{
  color:rgb(171, 171, 171) !important;
}

@media (min-width:1500px) and (max-width: 1550px) {
  .ipad_resp{
      width: 184px;
  }
}

html.rui-night-mode body .mycalendar::-webkit-scrollbar-track
{
// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
border-radius: 1px;
background-color: #626973 !important;
}
html.rui-night-mode body .mycalendar::-webkit-scrollbar
{
width: 1px;
background-color: #626973 !important;
}
html.rui-night-mode body .mycalendar::-webkit-scrollbar-thumb
{
// #3c424c
border-radius: 1px;
// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color:#626973 !important;
}
html.rui-night-mode .box_data {
background-color: #292f38 !important;
border: 1px solid #454545 !important;
}
.data_indicatorr{
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 60px;
  width: 45px;
  height: 45px;
  margin-left: 45%;
  font-size: 14px;
  z-index: 1;

}

@media only screen and (min-resolution: 1.26dppx) and (max-resolution: 1.5dppx) {
  .excel_file_nam{
    width: 100px!important;
  }
}

html.rui-night-mode .rui-section-lines .rui-page-title div div div .contact_sort div{
  background-color: #292f38;
  border-color: #3c424c;
}
html.rui-night-mode  .contact_sort div div{
  color: #a9b1bb !important;
}
html.rui-night-mode .contact_sort div div span{
  background: #3c424c !important;
}
html.rui-night-mode .contact_sort div {
  background-color: #292f38;
  border-color: #3c424c;
  color: #a0aebb !important
}
html.rui-night-mode .contact_sort div {
  background-color: #292f38;
  border-color: #3c424c;
  color: #626973;
}
html.rui-night-mode .contact_sort div div span {
  background: #3c424c !important;
}
html.rui-night-mode .contact_sort div{
  background-color: #292f38;
  border-color: #3c424c;
}