.table thead th {
  font-weight: 500;
}
.nav-pills .nav-link{
  font-weight: 500;
}
.btn{
    font-weight: 500;
}
.admin_title{
    padding: 15px 15px !important;
}
.page_module_new{
  font-size: 16px;
    font-weight: 500;
}
.test_collapse{

  animation: fadein 0.5s;
    -moz-animation: fadein 0.5s;
    -webkit-animation: fadein 0.5s;
    -o-animation: fadein 0.5s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
.top_neww{
  margin-top: 20px;
}
.new_page_module .custom-control-label::before{
  width: 20px !important;
  height: 20px !important;
}
.new_page_module .custom-control-label::after{
  width: 20px !important;
  height: 20px !important;
}
.error_message_admin{
  margin-bottom: -34px;
    color: red;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
}
.spinner_css_12345{
  justify-content: center;
    position: absolute;
    width: 40px;
    height:40px;
    margin-left:39%;
    font-size: 14px;
}
.aadd_petty {
    max-width: 850px;
    margin: 1rem auto;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 768px) {
      min-height: calc(100vh - 20px);
    }
  }
  .forSmallDevices2{
      display: inline-flex !important;
  }
  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
    background-color: #007bff !important;
    border-color:#007bff !important;
  }
  .height_13{
    border-right: 1px solid #d1d1d1;
  }
  .employee_spinner_1{
    justify-content: center;
    position: absolute;
    width: 45px;
    height: 45px;
    margin-left:55%;
   font-size: 14px;
   z-index: 1
  }
  .side_role{
    width: 100% ;
    text-align: end;
    padding-right: 20px;
  }
  .mycalendar{
    overflow-x: hidden ;
    overflow-y: scroll;
  }

  .mycalendar::-webkit-scrollbar{
    width: 1px;
    background-color: #ffffff !important;
  }

  .mycalendar::-webkit-scrollbar-thumb{
    border-radius: 1px;
    background-color:#ffffff !important;
  }
  .mycalendar::-webkit-scrollbar-track{
    border-radius: 1px;
    background-color: #ffffff !important;
  }

  .mycalendar::-webkit-scrollbar{
    width: 1px;
    background-color: #ffffff !important;
  }

  .mycalendar::-webkit-scrollbar-thumb{
    border-radius: 1px;

    background-color:#ffffff !important;
  }

  html.rui-night-mode body .mycalendar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 1px;
  background-color: #626973 !important;
}
html.rui-night-mode body .mycalendar::-webkit-scrollbar
{
  width: 1px;
  background-color: #626973 !important;
}
html.rui-night-mode body .mycalendar::-webkit-scrollbar-thumb
{
  border-radius: 1px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color:#626973 !important;
}

html.rui-night-mode body .height_13{
  border-right: 1px solid #626973;
}

@media  (min-width: 601px) and (max-width: 768px) {
  .mobile_data{
    margin-top: 30px !important;
  }
  .admin_ledttt{
    padding-left: 30px !important;
    }
    .toppp_neeee{
      margin-top: 7px !important;
    }
    .top_roqwww{
      margin-right: 0px;
    }
    .top_col_3{
      padding-right: 0px;
    }
}

.btn-success:hover {
  color: #fff !important;
  background-color: #218838 !important;
  border-color: #1e7e34 !important;
}

.btn-danger:hover {
  color: #fff !important;
  background-color: #bd2130 !important;
  border-color: #bd2130 !important;
}

@media only screen and (min-resolution: 1.26dppx) and (max-resolution: 1.5dppx) {
  .displayIconInline{
    display: inline-flex !important;
    font-size: 10px !important;
  }
}