.height_13{
    border-right: 1px solid #d1d1d1;
  }
html.rui-night-mode body .height_13{
  border-right: 1px solid #626973;
}
.employee_spinner_1{
    justify-content: center;
    position: absolute;
    width: 45px;
    height: 45px;
    margin-left:55%;
   font-size: 14px;
   z-index: 1
  }
  .addd_rtoo {
    margin: 1rem auto;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 768px) {
      min-height: calc(100vh - 20px);
    }
  }
.mycalendar{
    overflow-x: hidden ;
    overflow-y: scroll;
  }
  
  .mycalendar::-webkit-scrollbar{
    width: 1px;
    background-color: #ffffff !important;
  }
  
  .mycalendar::-webkit-scrollbar-thumb{
    border-radius: 1px;
    background-color:#ffffff !important;
  }
  .mycalendar::-webkit-scrollbar-track{
    border-radius: 1px;
    background-color: #ffffff !important;
  }
  
  .mycalendar::-webkit-scrollbar{
    width: 1px;
    background-color: #ffffff !important;
  }
  
  .mycalendar::-webkit-scrollbar-thumb{
    border-radius: 1px;
  
    background-color:#ffffff !important;
  }
  html.rui-night-mode .brand_ull .nav-link.active {
    color: #fff;
    background-color: #8bc240;
}

  html.rui-night-mode body .mycalendar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 1px;
  background-color: #626973 !important;
}
html.rui-night-mode body .mycalendar::-webkit-scrollbar
{
  width: 1px;
  background-color: #626973 !important;
}
html.rui-night-mode body .mycalendar::-webkit-scrollbar-thumb
{
  border-radius: 1px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color:#626973 !important;
}
.brand_ull{
    width: 100%;
}
.brand_ull li{
    width: 50%;
}
.brand_ull li a{
    justify-content: center;
}
.brand_ull .nav-link.active {
    color: #fff;
    background-color: #8bc240;
}
.brand_ull + .tab-content {
    margin-top: -2px;
}
.test_collapse{

    animation: fadein 0.5s;
      -moz-animation: fadein 0.5s;
      -webkit-animation: fadein 0.5s;
      -o-animation: fadein 0.5s;
  }
  @keyframes fadein {
      from {
          opacity:0;
 
      }
      to {
          opacity:1;
 
      }
  }
  @-moz-keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-webkit-keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-o-keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity: 1;
      }
  }
 
 .sssss {
     width: 345px;
     height: 185px;
     max-height: 25%;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     text-align: center;
     margin-top: 200px !important;
 }
 
 .btn-brand:hover {
    color: #fff;
    background-color: #8bc240;
    border-color: #8bc240;
 }
 .btn-brand:not(:disabled):not(.disabled):active, .btn-brand:not(:disabled):not(.disabled).active, .show > .btn-brand.dropdown-toggle {
     color: #fff;
      background-color: #8bc240;
      border-color: #8bc240;
 }
 
 .no_btn{
   background-color: #8bc240;
   border-color: #8bc240
 }
 .btn-secondary:hover {
     color: #fff;
     background-color: #6c757d;
     border-color: #6c757d;
 }
 .close_button{
   float: right;
     padding: 0px;
     color: lightgray;
       background: white;
       border-color: white;
 }
 .close_button:hover{
   color: lightgray;
   background-color: transparent;
   border-color: gray;
 }
 
 .my_title{
   padding: 15px 15px !important;
     vertical-align: middle!important;
 }
 
 .stipped_inner_padding{
   vertical-align: middle!important;
     padding: 5px 25px!important;
     white-space: nowrap!important;
 }
 .my_classs{
   width: 100%;
     display: inline-flex;
 }
 .heading_sne11111{
 margin-top: 0px !important;
 }
 .table_head1{
   float: right;
     margin-right: 52px;
     border: none;
 }
 .white_space{
     text-align: end;
 }
 .task_entry{
   width: 35%;
     margin-left: auto;
     padding: 7.5px 17px 9px;
 }
 
 .bulbul{
   width: 84%;
 }
 .button_sne4_1{
   margin-right: 10px;
     padding: 5px 6px;
    //  width: 50px;
     justify-content: center;
     text-align: center;
 }

 .btn-success:hover {
     color: darkgreen;
     background-color: transparent;
     border-color: #1e7e34;
 }
 .btn-danger:hover {
     color: red;
     background-color: transparent;
     border-color: #bd2130;
 }
 
 .button_sne5{
   margin-right: 10px;
     padding: 5px 6px;
     width: 50px;
     justify-content: center;
     text-align: center;
 
 }
 .button_sne5_data{
   margin-right: 10px;
     padding: 5px 6px;
     justify-content: center;
     text-align: center;
 
 }
 .button_a{
   background-color: rgb(255, 182, 0);
     border-color: rgb(255, 182, 0);
     color: rgb(255, 255, 255);
     text-transform: capitalize;
     position: relative;
     display: inline-flex;
     border: none;
     border-radius: 4px;
     align-items: stretch;
     font-size: 11px;
     font-weight: 700;
     margin-left: 11px;
     padding:9px 15px;
 }
 .spinner_spinner{
   justify-content: center;
     position: absolute;
     width: 40px;
     height: 40px;
     margin-left: 43%;
     font-size: 14px;
 }
 .spinner_color{
   color:#8bc240!important;
 }
 
 
 
 @media (max-width: 600px){
   .my_classs {
       width: 100%;
       display: contents;
   }
   .task_entry {
     width: 100%;
     margin-top: 15px;
     margin-left: auto;
     padding: 7.5px 17px 9px;
 }
 .button_a {
     background-color: #8bc240;
     border-color: #8bc240;
     color: white;
     text-transform: capitalize;
     position: relative;
     display: -webkit-inline-flex;
     display: -ms-inline-flexbox;
     display: inline-flex;
     border: none;
     border-radius: 4px;
     -webkit-align-items: stretch;
     -ms-flex-align: stretch;
     align-items: stretch;
     font-size: 11px;
     font-weight: 700;
     margin-left: 0px;
     margin-top: 11px;
     padding: 9px 15px;
 }
 .sssss {
     width: auto;
     max-height: 37%;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     text-align: center;
     margin-top: 200px;
 }
 .modal-dialog {
     max-width: 100%;
 
     height: auto;
 }
 .modal-content {
     border: 0;
     -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
     box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
     height: inherit;
 }
 }
 @media  (min-width: 601px) and (max-width: 768px) {
   .button_a {
     background-color: #8bc240;
     border-color: #8bc240;
     color: white;
     text-transform: capitalize;
     position: relative;
     display: -webkit-inline-flex;
     display: -ms-inline-flexbox;
     display: inline-flex;
     border: none;
     border-radius: 4px;
     -webkit-align-items: stretch;
     -ms-flex-align: stretch;
     align-items: stretch;
     font-size: 11px;
     font-weight: 700;
     margin-left: 11px;
     padding: 9px 10px;
 }
 .task_entry {
  width: 80%;
  margin-left: auto;
  padding: 7.5px 17px 9px;
}
.my_classs {
margin-top: 4px;
margin-bottom: -4px;
}
 .my_mobile_row{
   margin-right: 0px;
 }
 .my_mobile_row_for_bikee{
   margin-right: 0px;
 }
 }
 .rui-dropzone .rui-dropzone-preview{
    max-width: fit-content !important;
    padding: unset !important;
}
.upload_file_1{
    width: 100%;
    text-align: initial;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
    background-color: #8bc240 !important;
    border-color:#8bc240 !important;
  }
.heavy .rui-dropzone{
    padding: 7px !important;
}
  .heavy{
    width: 200px !important
  }
  .heavy .rui-dropzone .rui-dropzone-message {
    min-height: 170px !important;
  }
  .heavy .rui-dropzone .rui-dropzone-icon > .rui-icon {
      width: 40px !important;
      height: 40px !important;
  }
  .heavy .rui-dropzone .rui-dropzone-text {
      font-size: 11px !important;
    }
  .heavy .rui-dropzone .rui-dropzone-preview {
      max-width: 42.6% !important;
    }
.custom-radio .custom-control-input:checked ~ .custom-control-label::before{
    background-color: #8bc240 !important;
    border-color: #8bc240 !important;
}
.button_delete{
    background-color: #ef5164   ;
      border-color:#ef5164     ;
      color: rgb(255, 255, 255);
      margin-right: 10px;
      padding: 5px 6px;
      justify-content: center;
      text-align: center;
      
  }
  .button_delete:hover {
    color: #ef5164;
    background-color: transparent;
    border-color: #ef5164;
}


@media only screen and (max-width: 600px) {
    .my_title .container-fluid{
     padding-left: 0px !important;
    }
    .task_entry_1222{
    margin-left: 0px !important;
    }
    .bulbul {
    width: 100% !important;
    }
    .my_mobile_row{
    margin-right: auto !important;
    }
    .my_padding_data{
     padding-left: 15px !important;
    }
    .name_title{
    display: block !important;
    }
    .name_title h2{
    margin-bottom: 5px !important;
    }
    .my_btn{
     display: inline-flex !important;
     flex-wrap: wrap !important;
    }
    .back_btn{
     margin-left: initial !important;
    }
    .button_delete{
     margin-left: initial !important;
    }
    .my_btn button{
    margin-top: 5px !important;
    }
    .addd_rtoo{
    margin: 5px !important;
    }
    .my_checkboxx{
     margin-top: 12px;
    }
}
