@import "../../../../common-assets/css/variables";
@import "../../../../common-assets/css/rootui-parts/plugin-chart-chartist";
.table thead th {
    font-weight: 500;
  }
  .nav-pills .nav-link{
    font-weight: 500;
  }
  .btn{
      font-weight: 500;
  }
.dashboard_page{
    padding: 15px 15px !important;
}
.dashboard_page h1{
   margin-bottom: 0px !important;
   margin-top: 0px !important;
}
html.rui-night-mode .heading_opeartion {
    background-color: #292f38 !important;
}
  .heading_opeartion{
    background-color: #f8f8f8;
}
.box_shadow{
    margin-left: 0px !important;
    margin-right: 0px !important;
    background-color: #fff;
    margin-bottom: 5px;
    padding: 8px 0px;
    border: 1px solid #e6ecf0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow-x: hidden;
    margin-bottom: 10px;
    margin-top: 9px;
    border-radius: 10px;
}
html.rui-night-mode  .react-loading-skeleton {
    --base-color: #323942;
    --highlight-color: #6c7075;
  }
html.rui-night-mode .hr_newww {
    border-top: 1px solid rgba(215, 215, 215, 0.1) !important;
  }
  .stats_heading{
    margin-bottom: 0px !important;
    padding: 2px 14px;
  }
//   isplay: "inline-block", whiteSpace: "nowrap", fontSize: '11px'
  .sub_heading{
    display: inline-block;
    // white-space: nowrap;
    font-size: 11px;
    font-style: italic;
  }
//   width: "100%", display: "inline-block", fontSize: '16px'
  .sub_data_haed{
    width: 100%;
    display: inline-block;
    font-size: 16px;
    margin-top: -4px;
    font-weight: 500;
  }
  .padd_both_rem div{
      display: grid;
    // padding-left: 0px;
    // padding-right: 0px;
  }
  html.rui-night-mode .box_shadow {
    background-color: #292f38 !important;
    border: 1px solid #454545 !important;
}

.test_collapse{

    animation: fadein 1.25s;
      -moz-animation: fadein 1.25s;
      -webkit-animation: fadein 1.25s;
      -o-animation: fadein 1.25s;
  }
  @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-moz-keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-webkit-keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-o-keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity: 1;
      }
  }
  @media  (min-width: 601px) and (max-width: 768px){
      .ipad_botton{
          margin-top: 15px;
      }
  }
