.table thead th {
  font-weight: 500;
}
.nav-pills .nav-link{
  font-weight: 500;
}
.btn{
    font-weight: 500;
}

.tab_all .rui-tabs-slide{
  background-color: transparent !important;
}
.time_data_new{
  font-style: italic;
  margin-top: -6px;
  font-size: 12px;
}
.task_haeding_new{
    // margin-top: 23px;
    margin-bottom: 7px;
    text-align: center;
    font-weight: 500;
}
.height_progress{
  height: 30px ;
  width: 100%;
    margin-top: -5px;
    margin-left: 13px;
}
.my_telecaller{
  display: inline-flex;
    width: 100%;
}
.lead_sorting{
  width: 70%;
    margin-left: 10px;
}
.show_status_data_new{
  display: inline-flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 6px;
}
.show_status_data_new h3{
  margin-bottom: 4px !important;
  margin-top: 1px !important;
  font-size: 16px !important;
}
.lead_sorting .leadinging_type{
  width: 100%;
    margin-right: 10px;
    white-space: nowrap;
}
.left_arrow_new{
  min-width: 28px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

// Otherrr Tooltipl
.show_tooltip_new {
  position: relative;
  margin-top: 4px;
    margin-right: 4px;
  /* border-bottom: 1px dotted black; */
}
.show_tooltip_new .tooltiptext {
  visibility: hidden;
  display: grid;
  width: 136px;
  background-color: #272727;
  color: #fff;
  text-align: start;
  border-radius: 6px;
  padding: 5px 9px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1000;
  font-size: 11px;
  margin-left: -33px;
  margin-top: 3px;
}

.show_tooltip_new:hover .tooltiptext {
  visibility: visible;
}

.show_tooltip_new .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

// 1st Tooltipl
.tooltip_poo_back_1 {
  position: relative;
  margin-top: 4px;
    margin-right: 4px;
  /* border-bottom: 1px dotted black; */
}
.tooltip_poo_back_1 .tooltiptext_backk_1 {
  visibility: hidden;
  display: grid;
  width: 94px;
  background-color: #272727;
  color: #fff;
  text-align: start;
  border-radius: 6px;
  padding: 5px 9px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1000;
  font-size: 11px;
  margin-left: -33px;
  margin-top: 3px;
  white-space: nowrap;
}

.tooltip_poo_back_1:hover .tooltiptext_backk_1 {
  visibility: visible;
}

.tooltip_poo_back_1 .tooltiptext_backk_1::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}


//  2nd tooltipl



.tooge_new_tool {
  position: relative;
  margin-top: 4px;
    margin-right: 4px;
  /* border-bottom: 1px dotted black; */
}
.tooge_new_tool .toggle_tool_tip {
  visibility: hidden;
  display: grid;
  width: 94px;
  background-color: #272727;
  color: #fff;
  text-align: start;
  border-radius: 6px;
  padding: 5px 13px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1000;
  font-size: 11px;
  margin-left: -27px;
  margin-top: 3px;
  white-space: nowrap;
}

.tooge_new_tool:hover .toggle_tool_tip {
  visibility: visible;
}

.tooge_new_tool .toggle_tool_tip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}


//  3nd tooltipl
.tool_tip_delete {
  position: relative;
  margin-top: 4px;
    margin-right: 4px;
  /* border-bottom: 1px dotted black; */
}
.tool_tip_delete .delete_camp_tool {
  visibility: hidden;
  display: grid;
  width: 161px;
  background-color: #272727;
  color: #fff;
  text-align: start;
  border-radius: 6px;
  padding: 5px 11px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1000;
  font-size: 10px;
  margin-left: -110px;
  margin-top: 3px;
}

.tool_tip_delete:hover .delete_camp_tool {
  visibility: visible;
}

.tool_tip_delete .delete_camp_tool::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 83%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

//  4nd tooltipl
.insights_back_tool {
  position: relative;
  margin-top: 4px;
    margin-right: 4px;
  /* border-bottom: 1px dotted black; */
}
.insights_back_tool .show_inghtsss {
  visibility: hidden;
  display: grid;
  width: 101px;
  background-color: #272727;
  color: #fff;
  text-align: start;
  border-radius: 6px;
  padding: 5px 9px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1000;
  font-size: 11px;
  margin-left: -20px;
  margin-top: 3px;
  white-space: nowrap;
}

.insights_back_tool:hover .show_inghtsss {
  visibility: visible;
}

.insights_back_tool .show_inghtsss::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}




.marquee {

  overflow: hidden;
  box-sizing: border-box;
}

.marquee span {
  display: inline-block;
  width: max-content;


  /* show the marquee just outside the paragraph */
  will-change: transform;

}

.marquee span:hover {
  animation-play-state: running !important;
  animation: marquee 7s linear infinite;
}


@keyframes marquee {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}


/* Respect user preferences about animations */

@media (prefers-reduced-motion: reduce) {
  .marquee span {
    animation-iteration-count: 1;
    animation-duration: 0.01;
    /* instead of animation: none, so an animationend event is
    * still available, if previously attached.
    */
    width: auto;
    padding-left: 0;
  }
}

/* Respect user preferences about animations */

@media (prefers-reduced-motion: reduce) {
  .marquee span {
    animation-iteration-count: 1;
    animation-duration: 0.01;
    /* instead of animation: none, so an animationend event is
    * still available, if previously attached.
    */
    width: auto;
    padding-left: 0;
  }
}
.start_mark_new{
  color: red;
}
.padding_newww{
  padding-left: 6px !important;
    padding-right: 25px !important;
}
.new_border_box_opearrrr{
  padding: 7px 10px;
}
.all_inline_new{
  display: inline-flex;
    width: 100%;
    justify-content: flex-end;
}
.width_of_delete{
  width: 42px;
  margin-left: 6px;
  margin-top: 0px;
  // margin-right: 16px;
}
.cam_haeding{
  padding: 15px 2px  !important;
}
.tab_for_new_data{
  width: 310px;
    margin-left: 6px;
    margin-right: 8px;
}
html.rui-night-mode .hole_border_1{
border: 1px solid #3c424c !important;
background-color: #292f38 !important;
}

.tooltip_poo_back_1 {
position: relative;
}
.new_height_for_in{
height: 310px;
margin-bottom: 14px;
}
@media  (max-width: 1550px) {
.show_tooltip_new{
  width: 30%;
  margin-left: auto;
  margin-top: -156px !important;
 }
}

.show_tooltip_new {
  width: 30%;
  margin-left: auto;
  margin-top: -163px;
}


.tooltiptext_backk_1 {
display: grid;
width: 190px;
background-color: #272727;
color: #fff;
border-radius: 6px;
padding: 5px 13px;
// position: absolute;
// z-index: 1;
// font-size: 12px;
margin-left: -48px;
margin-top: 3px;
}



//  .tooltiptext_backk_1::after {
//   content: "";
//   // position: absolute;
//   top: 50%;
//   right: 100%;
//   margin-top: -5px;
//   border-width: 6px;
//   border-style: solid;
//   border-color: transparent black transparent transparent;
// }



.telecaller_dataa{
margin-bottom: 4px;
  font-size: 15px;
  line-height: 16px;
  text-transform: capitalize;
}
.chartContainer_1 {
margin: 0 auto;
max-width: 100%;
position: relative;
width: 280px;
}
.hole_border_1 {
border: 1px solid #d9d9d9;
padding: 16px 10px;
border-radius: 6px;

background-color: #fff;
// margin-bottom: 5px;
// padding: 8px 0px;
// border: 1px solid #e6ecf0;
}
.llllllll_label{
  margin-bottom: 2px;
}
.modalCam {
  max-width: 600px !important;
}
.top_spacee{
  margin-bottom: 20px !important;
}

.tab_all + .tab-content {
margin-top: -10px;
}
.margin_top_new_neee{
padding: 10px 20px;
}
.mar_top_new{
margin-top: 10px;
}
.is_not_valid div{
  background-color: #fef9fa;
  border-color: #fac6cc;
}

.manager_select_new .form-control{
  background-color: #fef9fa;
  border-color: #fac6cc;
}

html.rui-night-mode .rui-section-lines .rui-page-title div div div .contact_sort div{
  background-color: #292f38;
  border-color: #3c424c;
}
html.rui-night-mode  .contact_sort div div{
  color: #a9b1bb !important;
}
html.rui-night-mode .contact_sort div div span{
  background: #3c424c !important;
}
html.rui-night-mode .contact_sort div {
  background-color: #292f38;
  border-color: #3c424c;
  color: #a0aebb !important
}
html.rui-night-mode .contact_sort div {
  background-color: #292f38;
  border-color: #3c424c;
  color: #626973;
}
html.rui-night-mode .contact_sort div div span {
  background: #3c424c !important;
}
html.rui-night-mode .contact_sort div{
  background-color: #292f38;
  border-color: #3c424c;
}
html.rui-night-mode .contact_sort div div{
  color: #a9b1bb !important;
}
html.rui-night-mode .contact_sort div div:hover{
  color: #725ec3 !important;
}

html.rui-night-mode .contact_sort div div span{
  background: #3c424c !important;
}
html.rui-night-mode  .react-loading-skeleton {
    --base-color: #323942;
    --highlight-color: #6c7075;
  }
.typeahead_label .rbt-token{
  font-size: 85% !important;
  background-color: hsl(0,0%,90%) !important;
  color: #545b61 !important;
}
.camp_table{
    padding: 10px 12px !important;
    vertical-align: middle  !important;
    text-transform: capitalize;
    line-height: 20px !important;
}

.range_of_excel_cam{
  font-size: 8.19pt;
    font-style: italic;
    margin-bottom: -1px;
    margin-top: 0px;
    color: grey;
}


.test_collapse{

  animation: fadein 1.25s;
    -moz-animation: fadein 1.25s;
    -webkit-animation: fadein 1.25s;
    -o-animation: fadein 1.25s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
.toggkle_button{
  width: calc(2rem + 1px) !important;
  border-radius: 1rem !important;
  height: 16px !important;
}
.select_option .css-40ynqx-control{
  border-color: #e6ecf0;
}
.height_sales {
  border-right: 1px solid #e6ecf0;
}

html.rui-night-mode body .height_sales{
  border-right: 1px solid #626973;
}
.tab_all{
    width: 100%;
    padding: 0px;
    height: 34px;
}
.tab_all li{
    width: 25%;
}
.tab_all a{
    justify-content: center;
    white-space: nowrap;
    padding: 10px 4px !important;
}

.nav-pills .leadss.active{
  color: #fff !important;
  background-color: #007bff !important;
  height: 39px;
}
.nav-pills .task.active{
  color: #fff !important;
  background-color: #fdbf21 !important;
}
.nav-pills .call_logss.active{
  color: #fff !important;
  background-color: #32bfc8 !important;
}
.nav-pills .details_app.active{
  color: #fff !important;
  background-color: #2fc787 !important;
}
.nav-pills .insights.active{
  color: #fff !important;
  background-color: #40128B !important;
}
.tab_all .nav-link{
  top: -3px !important;
}

.border_padd{
    padding: 10px 14px;
}


.scroll_1{
  overflow-x: scroll !important;
  overflow-y: hidden;
}
.scroll_1::-webkit-scrollbar{
      height: 5px;
      width: 3px;
      background: #fff;
  }
  .scroll_1::-webkit-scrollbar-thumb:horizontal{
      background: #a4a6a8;
      border-radius: 10px;
  }
html.rui-night-mode .scroll_1::-webkit-scrollbar {
  height: 5px;
  width: 3px;
  background: #292f38 !important;
}

.scroll_1::-webkit-scrollbar{
    height: 5px;
    width: 3px;
    background: #ffffff;
}
.scroll_1::-webkit-scrollbar-thumb:horizontal{
    background: #a4a6a8;
    border-radius: 10px;
}
.scroll_1{
  overflow-x: scroll;
  overflow-y: hidden;
}

.employee_spinner_1{
  justify-content: center;
  position: absolute;
  width: 45px;
  height: 45px;
  margin-left:48%;
 font-size: 14px;
 z-index: 1
}

.mycalendar{
overflow-y: scroll;
// overflow-x: hidden;
}
.mycalendar::-webkit-scrollbar-track
{
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 1px;
  background-color: #ffffff !important;
}

.mycalendar::-webkit-scrollbar
{
  width: 1px;
  background-color: #ffffff !important;
}

.mycalendar::-webkit-scrollbar-thumb
{
  border-radius: 1px;
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color:#ffffff !important;
}
html.rui-night-mode .rui-calendar {
  --fc-today-bg-color: #f8f9fa;
  --fc-border-color: #3c424c !important;
}
html.rui-night-mode body .mycalendar::-webkit-scrollbar-track
{
// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
border-radius: 1px;
background-color: #626973 !important;
}
html.rui-night-mode body .mycalendar::-webkit-scrollbar
{
width: 1px;
background-color: #626973 !important;
}
html.rui-night-mode body .mycalendar::-webkit-scrollbar-thumb
{
// #3c424c
border-radius: 1px;
// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color:#626973 !important;
}

html.rui-night-mode .box_data_cam {
background-color: #292f38 !important;
border: 1px solid #454545 !important;
}

.box_data_cam{
margin-left: 0px !important;
margin-right: 0px !important;
background-color: #fff;
margin-bottom: 5px;
padding: 8px 0px;
border: 1px solid #e6ecf0;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
overflow-x: hidden;
margin-bottom: 10px;
margin-top: 9px;
border-radius: 10px;
}
















.react-google-flight-datepicker .date-picker {
  position: relative;
  border-radius: 4px;
  background: transparent !important;
  padding: 1px !important;
}
@media  (min-width: 601px) and (max-width: 768px){
  .width_data_cam_1 {
    width: 128px !important;
}
  .modalCam_122 {
    max-width: 706px !important
  }
  .add_capp_newww{
    margin-top: 13px;
  }
  .lefting_data{
    padding-left: 30px !important;
  }
  .lead_sorting {
    width: 100% !important;
    margin-left: 10px;
}
  .mar_top_cam{
    margin-top: 12px;
  }
  .i_pad_data{
    padding-left: 15px !important;
  }
  .top_view{
    margin-top: 15px !important;
  }
  .i-pad_nowrap{
    white-space: nowrap !important;
  }
  .sort_by_date12 .dialog-date-picker {
  left: 0px !important;
  margin-left: 0px !important;
}
}
@media  (min-width: 769px) and (max-width: 1024px){
  .i-pad_scroll{
    overflow-x: scroll !important;
  }
}
.mycalendar::-webkit-scrollbar-track
  {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 1px;
    background-color: #ffffff !important;
  }

  .mycalendar::-webkit-scrollbar
  {
    width: 1px;
    background-color: #ffffff !important;
  }

  .mycalendar::-webkit-scrollbar-thumb
  {
    border-radius: 1px;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color:#ffffff !important;
  }
html.rui-night-mode .rui-calendar {
    --fc-today-bg-color: #f8f9fa;
    --fc-border-color: #3c424c !important;
}
html.rui-night-mode body .mycalendar::-webkit-scrollbar-track
{
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 1px;
  background-color: #626973 !important;
}
html.rui-night-mode body .mycalendar::-webkit-scrollbar
{
  width: 1px;
  background-color: #626973 !important;
}
html.rui-night-mode body .mycalendar::-webkit-scrollbar-thumb
{
  // #3c424c
  border-radius: 1px;
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color:#626973 !important;
}
.modelForleave::-webkit-scrollbar {
  // display: none !important;
  width: 1px;
  background-color: #ffffff;
  float: right !important;
}
html.rui-night-mode label {
  color: #a9b1bb ;
  border: 1px solid #282e38;
}


// @media only screen and (-webkit-min-device-pixel-ratio: 2) {
//   /* CSS */
//   .mycalendar {
//     overflow-y: scroll !important;
//     height: 500px !important;
// }
//   .max{
//     height: 650px !important;
//   }
//   .task_list2 {
//     height: 500px !important;
//     overflow-y: scroll;
//   }

//   .i333{
//     padding-top: 21px;
//   }
// }
// @media screen  and (-webkit-min-device-pixel-ratio: 1) {


// .fc-theme-standard th {
//   border: 1px solid var(--fc-border-color, #ddd) !important;
// }
// html.rui-night-mode .fc-theme-standard td, .fc-theme-standard th {
//   border: 1px solid #3c424c !important;
//   border: 1px solid var(--fc-border-color,#3c424c) !important;
// }
html.rui-night-mode .fc .fc-daygrid-day.fc-day-today {
  background-color: rgba(255, 220, 40, 0.15);
  background-color: #414852 !important;
}
.rui-calendar .fc-event.fc-event.fc-event-danger3{
  background: #d571de !important;

  color: #fff !important;
}
.rui-calendar .fc-event.fc-event.fc-event-danger4{
  background: #ef5164 !important;
  color: #fff !important;
    border-left-color: #ef5164 !important;
}
.rui-calendar .fc-event.fc-event-danger_1{
  background: #FE9770 !important;
  color: #fff !important;
  border-left-color: #FE9770 !important;
}

.fc-direction-ltr .fc-daygrid-event .fc-event-time{
    display: none;
}
.rui-calendar .fc-event.fc-event-danger{
  background: #4fdfe8 !important;
  color: #fff !important;
    border-left-color: #4fdfe8 !important;
}
.rui-calendar .fc-event.fc-event.fc-event-danger_3{
  background: #86adff !important;
  color: #fff !important;
}
.rui-calendar .fc-event.fc-event-primary{
  background: #007bff;
  color: #fff !important;

}





// typography
// .fc .fc-media-screen .fc-direction-ltr .fc-theme-standard{
//   height: 838px !important;
// }
.rui-calendar .fc-toolbar.fc-header-toolbar {
  margin-bottom: 5px !important;
}
.rui-calendar .fc-month-view thead th, .rui-calendar .fc-dayGridMonth-view thead th {
  padding: 10px !important;
  font-weight: 600;
}
// .fc-daygrid-day .fc-day .fc-day-sun .fc-day-past .fc-day-other{
//   height: 140px !important;
// }










// zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
// @import "../../../../common-assets/css/variables";
// @import "../../../../common-assets/css/rootui-parts/plugin-chart-chartist";

  .rui-spotlightmode .rui-navbar:hover, .rui-spotlightmode .rui-navbar.hover, .rui-spotlightmode .rui-yaybar:hover, .rui-spotlightmode .rui-yaybar.hover .rafi {
    opacity: 1;
}


.rui-navbar-autohide.rui-navbar-show .rui-navbar-top, .rui-navbar-autohide.rui-navbar-show .rui-navbar-mobile .rafi{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
html.rui-night-mode body .chartjs-render-monitor{
  background-color: transparent !important;
}
  html.rui-night-mode body .react-google-flight-datepicker .reset-button {
    font-size: 0.9rem;
    padding: 0 8px;
    height: 36px;
    border-radius: 4px;
    border: none;
    color: #c7d1db !important;
    min-width: 64px;
}



html.rui-night-mode body .react-google-flight-datepicker .dialog-content {
  border-bottom: 1px solid #3c424c !important;
  border-top: 1px solid #3c424c !important;
  position: relative;
}

  .react-google-flight-datepicker .day.hovered {
    background-color: #e8e3ff !important;
    border-radius: unset;
}
.react-google-flight-datepicker .day.selected.hovered.end {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #e8e3ff), color-stop(50%, transparent)) !important;
    background: -o-linear-gradient(left, #e8e3ff 50%, transparent 50%) !important;
    background: linear-gradient(90deg, #e8e3ff 50%, transparent 50%) !important;
}
.react-google-flight-datepicker .day.selected.hovered {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fdfdfd), color-stop(50%, #e8e3ff)) !important;
    background: -o-linear-gradient(left, transparent 50%, transparent 50%) !important;
  background: linear-gradient(90deg, transparent 50%, #e8e3ff 50%) !important;
    color: #fff;
}
  .react-google-flight-datepicker .day.selected::after {
    background-color: #725ec3 !important;
    border-radius: 100%;
  }
  html.rui-night-mode body .react-google-flight-datepicker {
    color: #a9b1bb !important;
}
html.rui-night-mode body .react-google-flight-datepicker .date-picker {
  position: relative;
  border-radius: 4px;
  background: transparent !important;
  padding: 1px !important;
}
html.rui-night-mode body .date-picker-input {

  background: transparent !important;

}
html.rui-night-mode body .date-picker-input #start-date-input-button {

  background: transparent !important;
  color: #c7d1db;
}
html.rui-night-mode body .date-picker-input #end-date-input-button {

  background: transparent !important;
  color: #c7d1db;
}
html.rui-night-mode body .dialog-date-picker.open {
  border:1px solid #444a55 !important;
  background: #292f38 !important;
  color: #c7d1db;
}
html.rui-night-mode body .react-google-flight-datepicker .date-picker-input {
border-color: #3c424c !important;
}
html.rui-night-mode body .flipper-button {

  background-color: #3b4049 !important;
  }
  html.rui-night-mode body .date-placeholder {
    color: #c7d1db !important;
    background-color: #292f38 !important;
    }
    html.rui-night-mode body .month-name {
      color: #c7d1db !important;
      background-color: #292f38 !important;
      }
      html.rui-night-mode body .weekday {
        color: #c7d1db !important;
        // background-color: #292f38 !important;
        }




.react-datepicker-wrapper {
    display: flex !important;
    padding: 0;
    border: 0;
}

@media (min-width: 1281px){
  .jojos{
    margin-right: 30%;
  }
  .modal-dialog.modelForleave2 {
    max-width: 40% !important;
    margin: 9.6rem auto;
    height: min-content !important;
  }
  .modelForleave2 .modal-content {
    border: 0;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
    height: 40% !important;
  }
  .myaa{
margin-top: -10px;
margin-left: 40px;
  }
  .modal-dialog.modelForleave {
    max-width: 40% !important;
    margin: 9.6rem auto;
    height: min-content !important;
  }
  .modal-content .modelForleave {
    border: 0;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
    height: 60% !important;
  }
  .fc.fc-media-screen.fc-direction-ltr.fc-theme-standard{
    margin-top: 10px !important;
  }
  // .mycalendar{
  //   overflow-y: scroll !important;
  //   height: 780px !important;
  // }
  .mycalendar::-webkit-scrollbar-track
  {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 1px;
    background-color: #e6ecf0 !important;
  }

  .mycalendar::-webkit-scrollbar
  {
    width: 1px;
    background-color: #e6ecf0 !important;
  }

  .mycalendar::-webkit-scrollbar-thumb
  {
    border-radius: 1px;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color:#e6ecf0 !important;
  }
  html.rui-night-mode body .mycalendar::-webkit-scrollbar-track
  {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 1px;
    background-color: #3c424c;
  }
html.rui-night-mode body .mycalendar::-webkit-scrollbar
  {
    width: 1px;
    background-color: #3c424c !important;
  }
  html.rui-night-mode body .mycalendar::-webkit-scrollbar-thumb
  {
    // #3c424c
    border-radius: 1px;
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color:#626973 !important;
  }
  .cardContainer{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
    /* CSS */
    .offii{
      text-align: end;
    }
    .isssueddd_dateee .react-datepicker-popper{
        position: absolute;
        will-change: transform;
        top: -4px !important;
        left: -85px !important;
        transform: translate3d(15px, 36px, 0px);
    }
// Inside calander
.react-google-flight-datepicker .weekdays {
  width: 100%;
  font-size: 0.9rem;
  color: rgb(0,0,0) !important;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.week-container{
color: #6c757d !important;
}
.react-google-flight-datepicker .day.hovered:hover::after {
  outline: none !important;
  border-radius: 100%;
  background-color: #f3f4f7 !important;
  color: #393f49 !important;
}
.react-google-flight-datepicker .day:hover::after {
  outline: none !important;
  color: #393f49 !important;
  background-color: #f3f4f7 !important;
  border: none !important;
  bottom: -2px;
  left: -2px;
  right: -2px;
  top: -2px;

}

  .change-date-group{
    display: none !important;
  }
  .react-google-flight-datepicker .date:focus, .react-google-flight-datepicker .date.is-focus {
    background-color: #ffff !important;
    outline: none !important;
  }
  #start-date-input-button{
    outline: none !important ;
  }
  #end-date-input-button{
    outline: none !important ;
  }
  .react-google-flight-datepicker {
    width: 100% !important;
    font-size: 15px !important;
  }
  .react-google-flight-datepicker .calendar-wrapper {
    margin: 6px 20px 6px !important;
    overflow: hidden;
    min-height: min-content !important;
  }
  .react-google-flight-datepicker .date.is-focus {

  }
  .month-name{
    color: black !important;
  }
  .react-google-flight-datepicker .icon-calendar {
    display: none;
    width: 24px;
    height: 24px;
    fill: #1a73e8;
    margin-right: 12px;
  }
  .react-google-flight-datepicker .selected-date {
    display: flex;
    flex: 1 1;
    margin-left: 5px;
    text-align: center;
    align-items: center;
    height: 100%;
    font-size: 0.9rem;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .react-google-flight-datepicker .dialog-header .date-picker-input {
    height: 35px;
    width: 42% !important;
  }
  .react-google-flight-datepicker .date-picker-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #dadce0;
    border-radius: 4px;
    color: #686868;
    height: 36px !important;
    border-color: #e6ecf0 !important;
    background-color: #fbfcfc !important;
    letter-spacing: 0.2px !important;
    font-size: 1rem !important;
    align-items: center !important;
    overflow: visible !important;
  }
  .react-google-flight-datepicker .date.is-focus::after {
    content: none !important;
    margin: -1px;
    border: none !important;
    border-radius: 4px;
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
  }
  .react-google-flight-datepicker .day {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 30px !important;
    margin: 2px 0;
    text-align: center;
    width: 30px !important;
    vertical-align: top;
    position: relative;
    border-radius: 50%;
  }
  .react-google-flight-datepicker .day::after {
    border-radius: 100%;
    bottom: 0;
    content: '';
    height: 30px !important;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px !important;
    z-index: 2;
  }
  .react-google-flight-datepicker .month-name {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0px !important;
    margin-top: 6px !important;
  }
 .date_pickerrr .react-google-flight-datepicker .dialog-date-picker {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(60,64,67,0.3), 0 4px 8px 3px rgba(60,64,67,0.15);
    min-width: 200px;
    position: absolute;
    top: 45px !important;
    left: -7px !important;
    z-index: 120;
    height: max-content;
    width: 505px !important;
    margin-bottom: 0px !important;
    transform-origin: top right !important;
    opacity: 0;
    transform: scale(0);
  }
  .react-google-flight-datepicker .flipper-button {
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 0 4px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.24);
    cursor: pointer;
    height: 30px !important;
    width: 30px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -15px !important;
    pointer-events: all;
  }
  .selected-date{
      justify-content: center !important;
  }
  .react-google-flight-datepicker .date {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    position: relative;
    border-radius: 2px 0 0 2px;
    padding: 0px 0px !important;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 50%;
    background: white;
    border-radius: 4px;
}
  .react-google-flight-datepicker .dialog-footer {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    padding: 4px !important;

  }
  .react-google-flight-datepicker .date:first-child::before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 0px !important;
    height: auto !important;
    background: #dadce0;
  }

  .react-google-flight-datepicker .dialog-footer .submit-button {
    border-radius: 8px;
    padding: 8px 8px !important;
    border: none;
    line-height: 16px;
    text-transform: uppercase;
    color: #fff;
    background: #8bc240 !important;
    height: 30px !important;
    min-width: 70px !important;
    font-weight: 500;
    font-size: 0.9rem;
    cursor: pointer;
  }
}
  /*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

  @media (min-width: 1025px) and (max-width: 1280px) {

    .modal-dialog.modelForleave {
      max-width: 40% !important;
      margin: 9.6rem auto;
      height: 60% !important;
    }
    .modelForleave .modal-content {
      border: 0;
      -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
      height: 60% !important;
    }
    .fc.fc-media-screen.fc-direction-ltr.fc-theme-standard{
      margin-top: 10px !important;
    }
  //   .mycalendar {
  //     overflow-y: scroll !important;
  //     height: 660px !important;
  // }

    .cardContainer{
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
    .react-google-flight-datepicker .date:focus, .react-google-flight-datepicker .date.is-focus {
      background-color: #ffff !important;
      outline: none !important;
    }
    #start-date-input-button{
      outline: none !important ;
    }
    #end-date-input-button{
      outline: none !important ;
    }
    .react-google-flight-datepicker .weekdays {
      width: 100%;
      font-size: 0.9rem;
      color: rgb(0,0,0) !important;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
    .week-container{
    color: #6c757d !important;
    font-size: smaller !important;
    }
    .react-google-flight-datepicker .day.hovered:hover::after {
      outline: none !important;
      border-radius: 100%;
      background-color: #f3f4f7 !important;
      color: #393f49 !important;
    }
    .react-google-flight-datepicker .day:hover::after {
      outline: none !important;
      color: #393f49 !important;
      background-color: #f3f4f7 !important;
      border: none !important;
      bottom: -2px;
      left: -2px;
      right: -2px;
      top: -2px;

    }

      .rose{
          padding-left: 0px;
      }
    .change-date-group{
        display: none !important;
      }
      .react-google-flight-datepicker .date:focus, .react-google-flight-datepicker .date.is-focus {
        background-color: #ffff !important;
        outline: none !important;
      }
      #start-date-input-button{
        outline: none !important ;
      }
      #end-date-input-button{
        outline: none !important ;
      }
      .react-google-flight-datepicker {

        font-size: 15px !important;
      }
      .react-google-flight-datepicker .calendar-wrapper {
        margin: 6px 20px 6px !important;
        overflow: hidden;
        min-height: min-content !important;
      }
      .react-google-flight-datepicker .date.is-focus {

      }
      .month-name{
        color: black !important;
      }
      .react-google-flight-datepicker .icon-calendar {
        display: none;
        width: 24px;
        height: 24px;
        fill: #1a73e8;
        margin-right: 12px;
      }
      .react-google-flight-datepicker .selected-date {
        display: flex;
        flex: 1 1;
        margin-left: 5px;
        text-align: center;
        align-items: center;
        height: 100%;
        font-size: 0.9rem;
        line-height: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .react-google-flight-datepicker .dialog-header .date-picker-input {
        height: 35px;
        width: 100%;
      }
      .react-google-flight-datepicker .date-picker-input {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border: 1px solid #dadce0;
        border-radius: 4px;
        color: #686868;
        height: 36px !important;
        border-color: #e6ecf0 !important;
        background-color: #fbfcfc !important;
        letter-spacing: 0.2px !important;
        font-size: 1rem !important;
        align-items: center !important;
        overflow: visible !important;
      }
      .react-google-flight-datepicker .date.is-focus::after {
        content: none !important;
        margin: -1px;
        border: none !important;
        border-radius: 4px;
        position: absolute;
        pointer-events: none;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5;
      }
      .react-google-flight-datepicker .day {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 30px !important;
        margin: 2px 0;
        text-align: center;
        width: 30px !important;
        vertical-align: top;
        position: relative;
        border-radius: 50%;
      }
      .react-google-flight-datepicker .day::after {
        border-radius: 100%;
        bottom: 0;
        content: '';
        height: 30px !important;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px !important;
        z-index: 2;
      }
      .react-google-flight-datepicker .month-name {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 0px !important;
        margin-top: 6px !important;
      }
      .react-google-flight-datepicker .dialog-date-picker {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(60,64,67,0.3), 0 4px 8px 3px rgba(60,64,67,0.15);
        min-width: 200px;
        position: absolute;
        top: 44px !important;
        left: -150px !important;
        z-index: 120;
        height: max-content;
        width: 505px !important;
        margin-bottom: 0px !important;
        transform-origin: top right !important;
        opacity: 0;
        transform: scale(0);
      }
      .react-google-flight-datepicker .flipper-button {
        background-color: #fff;
        border-radius: 100%;
        box-shadow: 0 0 4px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.24);
        cursor: pointer;
        height: 30px !important;
        width: 30px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 -15px !important;
        pointer-events: all;
      }
      .selected-date{
          justify-content: center !important;
      }
      .react-google-flight-datepicker .date {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        position: relative;
        border-radius: 2px 0 0 2px;
        padding: 0px 0px !important;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        width: 50%;
        background: white;
        border-radius: 4px;
    }
      .react-google-flight-datepicker .dialog-footer {
        align-items: center;
        display: flex;
        flex-direction: row-reverse;
        padding: 4px !important;

      }
      .react-google-flight-datepicker .date:first-child::before {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 0px !important;
        height: auto !important;
        background: #dadce0;
      }
      .react-google-flight-datepicker .day.hovered {
        background-color: #e8e3ff !important;
        border-radius: unset;
    }
      .react-google-flight-datepicker .day.selected::after {
        background-color: #725ec3 !important;
        border-radius: 100%;
      }
      .react-google-flight-datepicker .dialog-footer .submit-button {
        border-radius: 8px;
        padding: 8px 8px !important;
        border: none;
        line-height: 16px;
        text-transform: uppercase;
        color: #fff;
        background: #8bc240 !important;
        height: 30px !important;
        min-width: 70px !important;
        font-weight: 500;
        font-size: 0.9rem;
        cursor: pointer;
      }
    /* CSS */
    .react-datepicker__triangle{
        left: 225px !important;
    }
    .react-datepicker-popper{
        position: absolute;
        will-change: transform;
        top: 0px;
        left: -190px !important;
        transform: translate3d(15px, 36px, 0px);
    }

  }

  @media (max-width: 1490px) and (min-width: 1440px) {
    .modal-dialog.modelForleave {
      max-width: 40% !important;
      margin: 9.6rem auto;
      height: min-content !important;
    }
    .modelForleave .modal-content  {
      border: 0;
      -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
      height: 60% !important;
    }
  //   .mycalendar {
  //     overflow-y: scroll !important;
  //     height: 760px !important;
  // }
    .cardContainer{
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
    .week-container {
      color: #6c757d !important;
      font-size: smaller !important;
  }
    .change-date-group{
      display: none !important;
    }
    .react-google-flight-datepicker .date:focus, .react-google-flight-datepicker .date.is-focus {
      background-color: #ffff !important;
      outline: none !important;
    }
    #start-date-input-button{
      outline: none !important ;
    }
    #end-date-input-button{
      outline: none !important ;
    }
    .month-name{
      color: black !important;
    }

    .react-google-flight-datepicker .weekdays {
      width: 100%;
      font-size: 0.9rem;
      color: rgb(0,0,0) !important;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
    .week-container{
    color: #6c757d !important;
    }
    .react-google-flight-datepicker .day.hovered:hover::after {
      outline: none !important;
      border-radius: 100%;
      background-color: #f3f4f7 !important;
      color: #393f49 !important;
    }
    .react-google-flight-datepicker .day:hover::after {
      outline: none !important;
      color: #393f49 !important;
      background-color: #f3f4f7 !important;
      border: none !important;
      bottom: -2px;
      left: -2px;
      right: -2px;
      top: -2px;

    }

    .react-google-flight-datepicker .dialog-date-picker {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(60,64,67,0.3), 0 4px 8px 3px rgba(60,64,67,0.15);
        min-width: 200px;
        position: absolute;
        top: 44px !important;
        left: -150px !important;
        z-index: 120;
        height: max-content;
        width: 505px !important;
        margin-bottom: 0px !important;
        transform-origin: top right !important;
        opacity: 0;
        transform: scale(0);
      }
    /* CSS */
    .react-datepicker__triangle{
        left: 225px !important;
    }
    .react-datepicker-popper{
        position: absolute;
        will-change: transform;
        top: 0px;
        left: -165px !important;
        transform: translate3d(15px, 36px, 0px);
    }

  }
  @media (min-width: 1500px) and (max-width: 1550px) {


    .react-google-flight-datepicker .date:focus, .react-google-flight-datepicker .date.is-focus {
      background-color: #ffff !important;
      outline: none !important;
    }
    #start-date-input-button{
      outline: none !important ;
    }
    #end-date-input-button{
      outline: none !important ;
    }
    .month-name{
      color: black !important;
    }
    .react-google-flight-datepicker .weekdays {
      width: 100%;
      font-size: 0.9rem;
      color: rgb(0,0,0) !important;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
    .week-container{
    color: #6c757d !important;
    }
    .react-google-flight-datepicker .day.hovered:hover::after {
      outline: none !important;
      border-radius: 100%;
      background-color: #f3f4f7 !important;
      color: #393f49 !important;
    }
    .react-google-flight-datepicker .day:hover::after {
      outline: none !important;
      color: #393f49 !important;
      background-color: #f3f4f7 !important;
      border: none !important;
      bottom: -2px;
      left: -2px;
      right: -2px;
      top: -2px;

    }


    .react-google-flight-datepicker .dialog-date-picker {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(60,64,67,0.3), 0 4px 8px 3px rgba(60,64,67,0.15);
        min-width: 200px;
        position: absolute;
        top: 44px !important;
        left: -150px !important;
        z-index: 120;
        height: max-content;
        width: 505px !important;
        margin-bottom: 0px !important;
        transform-origin: top right !important;
        opacity: 0;
        transform: scale(0);
      }
    /* CSS */
    .react-datepicker__triangle{
        left: 215px !important;
    }
    .react-datepicker-popper{
        position: absolute;
        will-change: transform;
        top: 0px;
        left: -148px !important;
        transform: translate3d(15px, 36px, 0px);
    }

  }
@media (max-width: 660px){



  html.rui-night-mode body .react-google-flight-datepicker .weekdays.mobile {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #292f38 !important;
}
html.rui-night-mode body .react-google-flight-datepicker .date {
  border: 1px solid #3c424c !important;
  border-radius: 5px;
  padding: 0 10px;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

  .react-google-flight-datepicker .date:focus, .react-google-flight-datepicker .date.is-focus {
    background-color: #ffff !important;
    outline: none !important;
  }
  #start-date-input-button{
    outline: none !important ;
  }
  #end-date-input-button{
    outline: none !important ;
  }
  .month-name{
    color: black !important;
  }
  .react-google-flight-datepicker .weekdays {
    width: 100%;
    font-size: 0.9rem;
    color: rgb(0,0,0) !important;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .week-container {
    color: #6c757d !important;
}
  .react-google-flight-datepicker .day.hovered:hover::after {
    outline: none !important;
    border-radius: 100%;
    background-color: #f3f4f7 !important;
    color: #393f49 !important;
  }
  .react-google-flight-datepicker .day:hover::after {
    outline: none !important;
    color: #393f49 !important;
    background-color: #f3f4f7 !important;
    border: none !important;
    bottom: -2px;
    left: -2px;
    right: -2px;
    top: -2px;

  }

  .react-google-flight-datepicker .date:focus::after, .react-google-flight-datepicker .date.is-focus::after {
    content: '';
    margin: -1px;
    border: 0px solid #725ec3 !important;
    border-radius: 4px;
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}
  .react-google-flight-datepicker .date:focus, .react-google-flight-datepicker .date.is-focus {
    background-color: #ffff !important;
    outline: none !important;
  }
  #start-date-input-button{
    outline: none !important ;
  }
  #end-date-input-button{
    outline: none !important ;
  }
  .react-google-flight-datepicker .day.hovered {
    background-color: #e8e3ff !important;
    border-radius: unset;
}

  .react-google-flight-datepicker .day.selected::after {
    background-color: #725ec3 !important;
    border-radius: 100%;
  }
  .react-google-flight-datepicker .dialog-footer .submit-button {
    border-radius: 8px;
    padding: 8px 8px !important;
    border: none;
    line-height: 16px;
    text-transform: uppercase;
    color: #fff;
    background: #8bc240 !important;
    height: 30px !important;
    min-width: 70px !important;
    font-weight: 500;
    font-size: 0.9rem;
    cursor: pointer;
  }

  .react-google-flight-datepicker .icon-calendar {
    display: none !important;
    width: 24px;
    height: 24px;
    fill: #1a73e8;
    margin-right: 12px;
  }
    .react-datepicker-popper{
        position: absolute;
        will-change: transform;
        top: 0px;
        left: 0px !important;
        transform: translate3d(15px, 36px, 0px);
    }

}
@media (min-width: 768px) and (max-width: 1024px) {


.react-google-flight-datepicker .month-calendar {
    width: 90% !important;
    margin-left: 73px !important;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}


  .react-google-flight-datepicker .date:focus::after, .react-google-flight-datepicker .date.is-focus::after {
    content: '';
    margin: -1px;
    border: 0px solid #725ec3  !important;
    border-radius: 4px;
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}
  .react-google-flight-datepicker .date:focus, .react-google-flight-datepicker .date.is-focus {
    background-color: #ffff !important;
    outline: none !important;
  }
  #start-date-input-button{
    outline: none !important ;
  }
  #end-date-input-button{
    outline: none !important ;
  }
  .react-google-flight-datepicker .day.selected:hover::after, .react-google-flight-datepicker .day.hovered:hover::after {
    outline: none !important;
    background-color: #725ec3  !important;
}

.react-google-flight-datepicker .day.selected.hovered::after {
    border-radius: 100%;
    background-color: #725ec3 !important;
}

  .react-google-flight-datepicker .day.hovered {
    background-color: #e8e3ff !important;
    border-radius: unset;
}
  .react-google-flight-datepicker .day.selected:hover::after, .react-google-flight-datepicker .day.hovered:hover::after {
    background: #725ec3 !important;
  }
.react-google-flight-datepicker .day.selected.hovered::after {
    border-radius: 100%;
    background-color: #725ec3 !important;
}
  .react-google-flight-datepicker .day.selected::after {
    background-color: #725ec3 !important;
    border-radius: 100%;
  }
  .react-google-flight-datepicker .dialog-footer .submit-button {
    border-radius: 8px;
    padding: 8px 8px !important;
    border: none !important;
    line-height: 16px;
    text-transform: uppercase;
    color: #fff;
    background: #8bc240 !important;
    height: 30px !important;
    min-width: 70px !important;
    font-weight: 500;
    font-size: 0.9rem;
    cursor: pointer;
  }

  .week-container {
    color: #6c757d !important;
    font-size: smaller !important;
}
  .react-google-flight-datepicker .day.hovered:hover::after {
    outline: none !important;
    border-radius: 100%;
    background-color: #f3f4f7 !important;
    color: #393f49 !important;
  }
  .react-google-flight-datepicker .day:hover::after {
    outline: none !important;
    color: #393f49 !important;
    background-color: #f3f4f7 !important;
    border: none !important;
    bottom: -2px;
    left: -2px;
    right: -2px;
    top: -2px;

  }

    .react-google-flight-datepicker .icon-calendar {
      display: none;
      width: 24px;
      height: 24px;
      fill: #1a73e8;
      margin-right: 12px;
    }
    .react-google-flight-datepicker .icon-calendar.mobile {
        display: none !important;
    }
    .react-datepicker__triangle{
        left: 147px !important;
    }


  }


  html.rui-night-mode .heading_opeartion {
    background-color: #292f38 !important;
  }

  .heading_opeartion{
    background-color: #f8f8f8;
}


.uplodddddd_poliii{
  align-self: center;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
}
.width_data_cam_1{
  width: 70px;
}
.width_data_cam{
  width: 128px;
}

html.rui-night-mode .hr_newww {
  border-top: 1px solid rgba(215, 215, 215, 0.1) !important;
}
.progress_barr{
  height: 21px;
  margin-top: -3px;
}
.dataNew{
  margin-right: 25px;
}
.show_status_data_new .dataNew{
  margin-left: 10px;
    margin-right: 10px;
    align-self: center;
}
.marBottomNre{
  margin-bottom: 26px;
}
.marBottomNre h3{
  margin-bottom: 0px;
  margin-top: 4px;
}
.showInlineNew{
  display: inline-flex;
  width: 100%;
}

.yearPickerTele{
  width: 45%;
  margin-right: 18px;
}
.yearPickerTele .form-control{
  width: 100%;
}
.DatePickerTele{
  width: 50%;
}
.DatePickerTele .form-control{
  width: 100%;
}
.DatePickerTele .react-datepicker-popper{
  left: -192px !important;
}
.DatePickerTele .react-datepicker__triangle{
  left: 223px !important;
}
.showTelecallerList{
  margin-bottom: 20px;
    margin-top: -10px;
}
.grupNewTelecaler .btn-group > .btn:not(:last-child) {
  border-right: 1px solid !important;
}
.grupNewTelecaler .btn-group > .btn + .btn{
  border-left: 1px solid !important;
}

.headingTelecaller{
  margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 20px;
}
.modelTelecaller{
  max-width: 700px !important;
}
.css-1wa3eu0-placeholder{
  white-space: nowrap !important;
}

.alignSelfInline{
  align-self: center;
  flex-wrap: wrap;
  display: inline;
}
.showDataNew122{
  flex-wrap: wrap;
  display: inline;
  margin-top: -40px;
}
.fixedUINew{
  margin-top: -49px;
    // margin-bottom: -33px;
}

.telcallerLink{
  padding: 10px 20px !important;
}
.headingEditTelecaller{
  display: inline-flex;
    width: 100%;
    justify-content: space-between;
}
.telecallerIcon{
  align-self: center;
}
.telecallerIcon svg{
  stroke-width: 2;
}
.new-coll-accordian{
  padding: 10px 4px 15px !important;
}
.noConnectedStats{
  margin-top: 18px;
}
.ConnectedStats{
  margin-top: 18px;
}
.lostStats{
  margin-top: 18px;
}

.pauseStatus{
  font-size: 10px;
  margin-bottom: 0px !important;
  text-transform: capitalize;
  text-align: start;
    color: grey;
    margin-top: -4px;
    font-style: italic;
    margin-left: -14px;
}
.data_indicatorr{
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 60px;
  width: 45px;
  height: 45px;
  margin-left: 45%;
  font-size: 14px;
  z-index: 1;

}

.telecallerBtnGrup{
  white-space: nowrap;
}
.telecallerBtnGrup button{
  padding: 9px 9px !important;
  text-transform: capitalize;
}