.tele_haeding{
  padding: 15px 15px !important
}
.heading_opeartion {
  background-color: #f8f8f8;
}
.right_show{
margin-right: 8px;
margin-left: 8px;
}
.left_show{
  margin-left: 8px;
}
.boxxx_neww{
  margin-top: 20px;
  border: 1px solid;
  border: 1px solid #e6ecf0;
  border-radius: 10px;
  padding-bottom: 17px;
  padding-right: 20px;
  padding-left: 20px;
  width: 49%;
  max-width: 49%;
}
.box_data_neww{
  margin-left: 0px !important;
  margin-right: 0px !important;
  background-color: #fff;
  margin-bottom: 5px;
  padding: 20px 20px;
  border: 1px solid #e6ecf0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow-x: hidden;
  margin-bottom: 10px;
  margin-top: 9px;
  border-radius: 10px;
}
.labels_model{
  max-width: 600px
}
.slot_new_new{
  margin-top: 16px;
}
.slot_new_new_123{
  margin-top: -10px;
}
.show_excel_feilds{
  padding: 10px 12px;
}

.close_tagsss{
    height: 19px;
    cursor: pointer;
    margin-left: 1px;
    margin-top: 0px;
}
.close_tagsss_reason{
  height: 17px;
  cursor: pointer;
  margin-left: 2px;
  margin-top: 2px;
}
.current_bag_new{
  font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: unset !important;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.current_bag{
  font-size: 10px;
  padding-left: 10px;
    padding-right: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: unset !important;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.current_bag_breakk{
  font-size: 10px;
    padding-left: 14px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: unset !important;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.close_tagsss svg{
  color: #fff;
    stroke-width: 2px;
    width: 18px !important;
    height: 18px !important;
}
.close_tagsss_reason svg{
  color: #fff;
  stroke-width: 2px;
  width: 17px !important;
  height: 14px !important;
}


.mycalendar{
  overflow-x: hidden ;
  overflow-y: scroll;
}
.employee_spinner_1{
  justify-content: center;
  position: absolute;
  width: 45px;
  height: 45px;
  margin-left:48%;
 font-size: 14px;
 z-index: 1
}
.mycalendar::-webkit-scrollbar
{
  width: 1px;
  background-color: #ffffff !important;
}

.mycalendar::-webkit-scrollbar-thumb
{
  border-radius: 1px;
  background-color:#ffffff !important;
}
.mycalendar::-webkit-scrollbar-track
{
  border-radius: 1px;
  background-color: #ffffff !important;
}

.mycalendar::-webkit-scrollbar
{
  width: 1px;
  background-color: #ffffff !important;
}

.mycalendar::-webkit-scrollbar-thumb
{
  border-radius: 1px;
 background-color:#ffffff !important;
}

html.rui-night-mode body .mycalendar::-webkit-scrollbar-track
{
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 1px;
  background-color: #626973 !important;
}
html.rui-night-mode body .mycalendar::-webkit-scrollbar
{
  width: 1px;
  background-color: #626973 !important;
}
html.rui-night-mode body .mycalendar::-webkit-scrollbar-thumb
{
  // #3c424c
  border-radius: 1px;
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color:#626973 !important;
}



.disPlay{
  display: grid;
}
.ballllllll{
  margin-bottom: 2px;
}

.btn_save{
  align-self: flex-end;
}
.btn_save_dreaaa{
  align-self: center;
}
.buttonAlll{
    width: fit-content;
    text-transform: capitalize;
    height: 34px;
    text-transform: capitalize;
    padding-top: 6px;
    margin-top: 5px;
    
}
.my_save{
  padding-left: 10px;
}
.padd_right{
  padding-right: 0px;
}
.dot_cll{
  margin-right: 6px;
}
.dot_cus{
margin-top: 2px;
}





// 
.start_mark{
  // color: red;
  margin-left: 3px;
}

.textOnInput {
  position: relative;
}
.textOnInput label {
  position: absolute;
  top: -10px;
    left: 8px;
    padding: 2px;
  z-index: 1;
}
.textOnInput label:after {
  content: " ";
  background-color: #fff;
  width: 100%;
  height: 13px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.llllllll_label {
  font-size: 11px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: .5rem;
  color: #007bff;
}
.text_tttttt {
  box-shadow: none !important;
  height: 64px !important;
  width: 100px !important;
  border-radius: 8px !important;
}
.intercalllll {
  box-shadow: none !important;
  height: 64px !important;
  width: 100px !important;
}
.intercalllll .css-40ynqx-control{
  height: 64px !important;
  width: 100px !important;
  border-color: #e6ecf0 !important;
  border-radius: 8px !important;
}
.intercalllll .css-lg1fe2-control{
  height: 64px !important;
  width: 100px !important;
}
.intercalllll .css-1wa3eu0-placeholder{
  display: none !important;
}
.intercalllll .css-1okebmr-indicatorSeparator{
  display: none !important;
}
.dis_paly_new{
  margin-top: 2px;
  margin-right: 17px;
}
.alll_data{
  display: inline-flex;
  margin-top: 9px;
}
.common_row{
  margin-top: 20px;
}
.update_button{
  display: inline-flex;
  width: 100%;
  margin-bottom: 11px;
}
.update_button button{
  margin-left: auto;
  height: 36px;
}