.table thead th {
  font-weight: 500;
}
.btn{
  font-weight: 500;
}
.payroll_new{
    padding: 10px 15px !important;
}
.paid_new_amount{
  width: 151px;
    padding-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
     margin-top: -3px; 
}
.from_to_end{
  font-size: 10px;
    white-space: nowrap;
    font-style: italic;
    margin-top: -4px;
}
.error_message_new{
  margin-bottom: -6px;
    line-height: 15px;
    margin-top: 2px;
    font-size: 11px;
    color: red;
}
.payroll_new h1{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.heading_opeartion{
    background-color: #f8f8f8;
    width: 100%;
}
.spinner_css_12345666{
    justify-content: center;
      position: absolute;
      width: 50px;
      height:50px;
      margin-left:39%;
      font-size: 14px;
  }
.mycalendar{
    overflow-x: hidden ;
    overflow-y: scroll;
  }
  html.rui-night-mode .heading_opeartion {
    background-color: #292f38 !important;
  }

  .mycalendar::-webkit-scrollbar
  {
    width: 0px;
    background-color: #ffffff !important;
  }

  .mycalendar::-webkit-scrollbar-thumb
  {
    border-radius: 1px;
    background-color:#ffffff !important;
  }
  .mycalendar::-webkit-scrollbar-track
  {
    border-radius: 1px;
    background-color: #ffffff !important;
  }

  .mycalendar::-webkit-scrollbar
  {
    width: 0px;
    background-color: #ffffff !important;
  }

  .mycalendar::-webkit-scrollbar-thumb
  {
    border-radius: 1px;
   background-color:#ffffff !important;
  }
  .test_collapse{

    animation: fadein 1s;
      -moz-animation: fadein 1s;
      -webkit-animation: fadein 1s;
      -o-animation: fadein 1s;
  }
  @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-moz-keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-webkit-keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-o-keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity: 1;
      }
  }

  .overal_paid{
    background-color: #fff;
    padding:12px 16px;
    border: 1px solid #e6ecf0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow-x: hidden;
    margin-bottom: 10px;
    margin-top: 9px;
    border-radius: 10px;
    // height: 40px;
  }
  .overal_paid_table{
    background-color: #fff;
    padding:12px 16px;
    border: 1px solid #e6ecf0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow-x: hidden;
    margin-bottom: 10px;
    margin-top: 9px;
    border-radius: 10px;
    // height: 40px;
  }

  html.rui-night-mode .overal_paid_table {
    background-color: #292f38!important;
    border: 1px solid #454545!important;
}

html.rui-night-mode .overal_paid {
    background-color: #292f38!important;
    border: 1px solid #454545!important;
}
  .padd_ing_new{
      padding: 4px 12px;
  }
  .overa_all_bal_bal{
    font-weight: 500;
    margin-bottom: 4px;
  }
  .overa_all_bal{
    font-weight: 500;
    margin-bottom: 8px;
  }
  .font_size{
    font-size: 16px;
    margin-bottom: -5px;
  }
  .font_style{
      font-style: italic;
  }
  .sumbit_new{
    text-transform: capitalize;
    padding: 6px 10px;
    height: 30px;
  }
  .border_none{
    border: none;
    padding: 10px 25px !important;
    vertical-align: middle !important;
    border-top: none !important;
    line-height: 16px;
  }
  .border_td{
    padding: 10px 25px !important; 
    vertical-align: middle !important;
  }
  .total_btn_group{
    display: inline-flex;
    // white-space: nowrap;
    width: 100%;
    justify-content: flex-end;
  }
.total_btn_group button{
  white-space: nowrap;
}

  .net_salary_hover {
    // position: relative;
    margin-top: 4px;
      margin-right: 4px;
      white-space: nowrap;
    /* border-bottom: 1px dotted black; */
  }
  .net_salary_hover .net_salry_new {
    visibility: hidden;
    display: grid;
    background-color: #272727;
    color: #fff;
    text-align: start;
    border-radius: 6px;
    padding: 5px 11px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1000;
    font-size: 11px;
    margin-top: 0px;
    margin-left: 45px;
  }
  
  .net_salary_hover:hover .net_salry_new {
    visibility: visible;
  }
  
  .net_salary_hover .net_salry_new::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 45%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  .show_net_tool_tip{
      white-space: nowrap;
  }
  @media (min-width:601px) and (max-width:768px){

  .over_flooo{
      overflow-y: hidden;
  }
  .net_salary_hover .net_salry_new{
    margin-left: -20px !important;
  }
}

html.rui-night-mode body .mycalendar::-webkit-scrollbar-track
{
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 1px;
  background-color: #626973 !important;
}
html.rui-night-mode body .mycalendar::-webkit-scrollbar
{
  width: 1px;
  background-color: #626973 !important;
}
html.rui-night-mode body .mycalendar::-webkit-scrollbar-thumb
{
  // #3c424c
  border-radius: 1px;
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color:#626973 !important;
}
.amount_paid{
  background-color: #8bc240;
  border-color: #8bc240;
  color: #fff;
}
.amount_paid:hover{
  background-color: #8bc240;
  border-color: #8bc240;
  color: #fff;
}
.cancel_paid{
  background-color: #ef5164;
  border-color: #ef5164;
  height: 30px;
  color: #fff;
}
.cancel_paid:hover{
  background-color: #ef5164;
  border-color: #ef5164;
  color: #fff;
}

.amount_paid:focus, .amount_paid.focus {
  outline: 0;
  box-shadow: none;
}
.cancel_paid:focus, .cancel_paid.focus {
  outline: 0;
  box-shadow:none;
}
.width_new_1{
  // width: 85px;
}
.scroll_1{
  overflow-x: scroll;
  overflow-y: hidden;
}
.scroll_1::-webkit-scrollbar{
      height: 5px;
      width: 3px;
      background: #fff;
  }
  .scroll_1::-webkit-scrollbar-thumb:horizontal{
      background: #a4a6a8;
      border-radius: 10px;
  }
  html.rui-night-mode .scroll_1::-webkit-scrollbar {
    height: 5px;
    width: 3px;
    background: #292f38 !important;
}
.alert_icon{
  margin-top: -2px;
    margin-left: 4px;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    stroke-width: 2;
    color: #2fc787;
    // position: fixed;
}

.attendance_summery_box{
  background-color: #fff;
  padding:20px 20px;
  border: 1px solid #e6ecf0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow-x: hidden;
  margin-bottom: 10px;
  margin-top: 9px;
  border-radius: 5px;
}
html.rui-night-mode .attendance_summery_box {
  background-color: #292f38!important;
  border: 1px solid #454545!important;
  }
  .show_in_line{
    display: inline-flex;
      width: 100%;
      flex-wrap: unset;
      justify-content: space-between;
  }

  .heading_top_newww{
    font-size: 12px;
  }
  .heading_bottom{
    font-size: 22px;
      font-weight: 500;
      margin-top: -8px;
  }

  .line_attendance_summery{
    border: 1px solid #e6ecf0;
      height: 40px;
      align-self: center;
  }
  html.rui-night-mode .line_attendance_summery{
    border: 1px solid #a9b1bb;
      height: 40px;
      align-self: center;
  }

  .show_attenedance_model{
    max-width: 1350px;
    margin: 5px;
  }

  .MUSTER_ROLL_TABLE{
    padding: 6px 1px !important;
    vertical-align: middle !important;
    text-align: center;
    font-size: 10px;
    min-width: 31px;
    border-color: #f1f1f1 !important;
  }

  .date_muster p{
    margin-bottom: 0px;
  }
  .displayInlineNew{
    display: inline-flex;
    width: -webkit-fill-available;
  }
  .amountNewww{
    width: -webkit-fill-available;
    text-align: end;
    margin-left: 10px;
  }

  .paddTopNew{
    padding: 30px;
  }
  .fontTablesize{
    font-size: 14px;
  }
  .fontTablesizeTd{
    font-size: 12px;
  }
  // #content {
  //   display: none; /* This would hide the element */
  // }
  .showAnountInNumber{
    text-align: center;
    margin-top: 34px;
  }
  .showAnountInNumber p{
    margin-bottom: 0px !important;
    font-size: 14px !important;
  }
  .showAnountText{
    text-align: center;
    margin-top: 20px;
  }
  .showAnountText p{
    margin-bottom: 0px !important;
    font-size: 12px !important;
  }
  .signatureDetails{
    text-align: center;
    font-size: 14px;
  }
  .signatureDetails hr{
    border-top: 1px solid #4b515b;
    margin-top: 35px;
  }
  .PayslipTitle{
    text-align: end;
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #316b9a;
  }
  .paidDate{
    display: inline-flex;
    width: 100%;
   justify-content: space-between;
   margin-top: 56px;
  }
  .paidDate .all_Data{
    width: 33.33%;
    justify-content: center;
    text-align: center;
    margin-left: 8px;
  }
  .titlePaid{
    background-color: #72a0c7;
    color: #fff;
    font-size: 14px;
    padding: 4px 6px;
    font-weight: 500;
  }
  .SUBtitlePaid{
    background-color: #ebebeb;
    font-size: 14px;
    padding: 4px 6px;
    font-weight: 500;
  }
  .ProjectLogo{
    width: 170px;
  }
  .officeDetails{
    margin-top: 12px;
    color: #72a0c7;
    font-weight: 500;
  }
  .officeDetails p{
    margin-bottom: 8px;
  }
  .empNameData{
    font-size: 18px;
    margin-top: 6px;
    margin-bottom: 2px;
    font-weight: 500;
  }
  .empInfoDiv p{
    margin-bottom: 2px;
  }

  .payrollDate{
    text-align: end;
    text-align: end;
      display: inline-flex;
      width: 100%;
      justify-content: flex-end;
  }
  .payrollDate .react-datepicker .react-datepicker__navigation{
    top: 16px !important;
  }
  .payrollDate .react-datepicker-popper{
    top: -19px !important;
      left: -28px !important;
  }
  .payrollDate .react-datepicker{
    padding: 0px 5px 5px 18px !important;
  }