.table thead th {
  font-weight: 500;
}
.nav-pills .nav-link{
  font-weight: 500;
}
.btn{
    font-weight: 500;
}
.bottom_value_agent{
  font-size: 14px;
  margin-top: -2px;
  line-height: 20px;
}
.false_message_new{
  margin-bottom: -34px;
    color: red;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
}
.start_mark{
  color: red;
}
.top_value{
  font-size: 12px;
  color: #7f7f7f;
}
.tablellll td {
  padding: 10px 25px;
}
html.rui-night-mode .rui-section-lines .rui-page-title div div div .contact_sort div{
  background-color: #292f38;
  border-color: #3c424c;
}
html.rui-night-mode  .contact_sort div div{
  color: #a9b1bb !important;
}
html.rui-night-mode .contact_sort div div span{
  background: #3c424c !important;
}
html.rui-night-mode .contact_sort div {
  background-color: #292f38;
  border-color: #3c424c;
  color: #a0aebb !important
}
.pagination_1{
  padding: 3px 6px;
    font-size: 10px;
    text-transform: capitalize;
}
.pagination_1:hover {
    color: #fff !important;
}
.test_collapse{

   animation: fadein 0.5s;
     -moz-animation: fadein 0.5s;
     -webkit-animation: fadein 0.5s;
     -o-animation: fadein 0.5s;
 }
 @keyframes fadein {
     from {
         opacity:0;

     }
     to {
         opacity:1;

     }
 }
 @-moz-keyframes fadein {
     from {
         opacity:0;
     }
     to {
         opacity:1;
     }
 }
 @-webkit-keyframes fadein {
     from {
         opacity:0;
     }
     to {
         opacity:1;
     }
 }
 @-o-keyframes fadein {
     from {
         opacity:0;
     }
     to {
         opacity: 1;
     }
 }
 .suspended_name{
   margin-left: 10px;
    margin-top: 22px;
 }
 .cccustum{
   text-align: center;
    display: contents;
 }
 .close_bttn {
     padding: 1rem 1rem;
     margin: -1rem -1rem -1rem auto;
 }
 .mmmm {
     width: 345px;
     height: 185px;
     max-height: 25%;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     text-align: center;
     margin-top: 200px !important;
 }
 .no_btn{
   background-color: #8bc240;
   border-color: #8bc240
 }
 .dddddddd{
   max-width: 900px !important;
 }
 .btn-brand:hover {
    color: #fff;
    background-color: #8bc240;
    border-color: #8bc240;
}
.btn-brand:not(:disabled):not(.disabled):active, .btn-brand:not(:disabled):not(.disabled).active, .show > .btn-brand.dropdown-toggle {
    color: #fff;
     background-color: #8bc240;
     border-color: #8bc240;
}
.custom-control-input:checked ~ .custom-control-label::before{
  background-color: #8bc240 !important;
     border-color: #8bc240 !important;
}
 .btn-secondary:hover {
     color: #fff;
     background-color: #6c757d;
     border-color: #6c757d;
 }

 .close_button1{
   float: right;
     padding: 0px;
     color: lightgray;
       background: white;
       border-color: white;
 }
 .close_button1:hover{
   color: lightgray;
   background-color: transparent;
   border-color: gray;
 }

.button_sne{
  background: #8bc240!important;
  border: none!important;
  padding: 8px 20px 8px 20px !important;
    font-size: 12.8px!important;
    border-radius: 4px !important;
}

.button_sne3{
  background: #8bc240!important;
  border: none!important;
  padding: 9px 15px !important;
    font-size: 10px!important;
    border-radius: 4px !important;
}
.button_sne2{
  background: #6c757d!important;
  border: none!important;
  padding: 9px 15px!important;
    font-size: 10px!important;
    border-radius: 4px !important;
}
.colm_sne{
  text-align: end!important;
  width: 100%;
    justify-content: flex-end;
}
.ff{
    display: block!important;
    width: 100%!important;
    height: 35px!important;
    // border: 1px solid lightgray!important;
    border-radius: 5px!important;
    padding-left: 10px!important;
}
.my_titleeeeeee{
  padding: 15px 15px!important;
}
.h11111{
  margin-top: 0px!important;
}
.form_lable{
  margin-top: 15px !important;
}
.tablellll{
  vertical-align: middle;
}

.custom-control-label::before {
    background-color: #d7d9e0;
    border-color: #d7d9e0;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #8bc240 !important;
    border-color: #8bc240 !important;
}
.heading_sne1{
  margin-top: 20px!important;
    font-size: 20px!important;
}
.shot_put{
  align-items: center;
    margin-top: 22px;
    margin-right: 4px;
}
.col2{
  margin-left: -20px !important;
      display: inline-flex;
      justify-content: flex-end;
}
.btn_sne{
  margin-right: 10px!important;
    padding: 7px 9px!important;
    height: 32px;
    justify-content: center!important;
    text-align: center!important;
    margin-top: 20px !important;
}
.btn_sne1{
  margin-right: 10px!important;
      padding: 7px 9px!important;
    height: 32px;
    justify-content: center!important;
    text-align: center!important;
    margin-top: 20px !important;
}
.colon{
  margin-left: 75px!important;
}
.colon1{
margin-left: 35px!important;
}
.colon2{
  margin-left: 50px!important;
}
.colon3{
  margin-left: 53px!important;
}
.colon4{
  margin-left: 40px!important;
}
.row_sne{
  margin-top: 20px!important;
}
.collon{
  width: 140px!important;
  white-space: nowrap!important;
}
.agent_spinner{
  justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    margin-left: 43%;
    font-size: 14px;
}
.agent_spinner_color{
  color:#8bc240!important;
}
.table th  {
    border-top: none!important;
}
.spinner_css_12345{
  justify-content: center;
    position: absolute;
    width: 40px;
    height:40px;
    margin-left:39%;
    font-size: 14px;
}
html.rui-night-mode body .mycalendar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 1px;
  background-color: #626973 !important;
}
html.rui-night-mode body .mycalendar::-webkit-scrollbar
{
  width: 1px;
  background-color: #626973 !important;
}
html.rui-night-mode body .mycalendar::-webkit-scrollbar-thumb
{
  // #3c424c
  border-radius: 1px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color:#626973 !important;
}

html.rui-night-mode body .height_table{
  border-right: 1px solid #626973;
}


.height_table {
    border-right: 1px solid #d1d1d1;
}
.mycalendar{
  overflow-x: hidden ;
  overflow-y: scroll;
}

.mycalendar::-webkit-scrollbar
{
  width: 1px;
  background-color: #ffffff !important;
}

.mycalendar::-webkit-scrollbar-thumb
{
  border-radius: 1px;
  background-color:#ffffff !important;
}
.mycalendar::-webkit-scrollbar-track
{
  border-radius: 1px;
  background-color: #ffffff !important;
}

.mycalendar::-webkit-scrollbar
{
  width: 1px;
  background-color: #ffffff !important;
}

.mycalendar::-webkit-scrollbar-thumb
{
  border-radius: 1px;

  background-color:#ffffff !important;
}



@media only screen and (max-width: 600px){
  .button_sne {
    background: #8bc240 !important;
    border: none !important;
    padding: 8px 13px 8px 13px !important;
    font-size: 11px !important;
    border-radius: 4px !important;
    margin-top: -30px;
}
.collon{
  width: 82px!important;
  white-space: nowrap!important;
}
.shot_put {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0px;
    margin-right: 4px;
}
.h11111 {
    margin-top:9px !important;
    margin-left: -5px;
    font-size: 18px;
}
.heading_sne1 {
    margin-top: 20px !important;
    font-size: 20px !important;
    margin-left: 20px;
}
.col2 {
    text-align: end !important;
    margin-left: -10px;
}
.row_sne {
    margin-left: 5px;
}
.btn_sne, .btn_sne1{
  margin-top: 0px!important;
}
.h11111 {
  margin-top: 7px !important;
}
.button_sne{
  margin-top: -19px;
  white-space: nowrap;
  height: 36px  !important;
}
.my_new_nnnn{
  margin-top: -27px !important;
}
.colm_sne{
  padding-right: 0px !important;
}
.new_i_paddd_for_mobile{
  width: 140px !important;
}
}

@media  (min-width: 601px) and (max-width: 820px) {
  .my_titleeeeeee {
    padding: 10px 10px !important;
}
  .marrrr_ginnnnn{
    margin-top: 3px !important;
      width: 230px !important;
  }
  .h11111 {
    margin-top: 7px !important;
    font-size: 20px !important;
}
.new_i_paddd {
    width: 140px !important;
}
.new_i_paddd_1{
  width: 140px !important;
}

  .collon{
    width: 82px!important;
    white-space: nowrap!important;
  }
  .button_sne{
    margin-top: 3px;
    white-space: nowrap;
  }
  .button_sne {
    background: #8bc240 !important;
    border: none !important;
    padding: 8px 20px 8px 20px !important;
    font-size: 12.8px !important;
    border-radius: 4px !important;
    white-space: nowrap!important;
    height: 39px !important;

}
.col2 {
    text-align: end !important;
    margin-left: -35px;
}
.heading_sne1 {
  margin-top: 25px !important;
    margin-left: 20px;
    font-size: 17px !important;
}
.row_sne {
    margin-top: 20px !important;
    margin-left: 10px;
}
}

@media only screen
and (min-width: 1024px)
and (max-height: 1366px)
and (-webkit-min-device-pixel-ratio: 1.5) {
  .modal-dialog {
      max-width: auto!important;
      margin: auto auto;
      height: auto!important;
      margin-top: 100px!important;
  }
  .modal-content {
      border: 0;
      -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
      box-shadow: 0 3px 10px rgba(145, 107, 107, 0.03);
      height: inherit;
  }
  .col2 {
      text-align: end !important;
      margin-left: -20px;
  }
  .collon{
    width: 82px!important;
    white-space: nowrap!important;
  }
}

@media only screen
and (min-width: 1440px)
and (max-height: 900px)
and (-webkit-min-device-pixel-ratio: 1.5) {
  .modal-dialog {
      max-width: auto;
      margin: 9rem auto;
      height: auto;
      margin-top: 100px;
  }
  .modal-content {
      border: 0;
      -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
      box-shadow: 0 3px 10px rgba(145, 107, 107, 0.03);
      height: inherit;
  }
  .col2 {
      text-align: end !important;
      margin-left: -20px;
  }
}

@media only screen
and (min-width: 1550px)
and (max-height: 750px){
  .modal-dialog {
      max-width: 65%;
      margin: 9rem auto;
      height: auto;
  }
  .modal-content {
      border: 0;
      -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.03);
      box-shadow: 0 3px 10px rgba(145, 107, 107, 0.03);
      height: inherit;
  }
  .col2 {
      text-align: end !important;
      margin-left: -20px;
  }
}
