@import "../../../../common-assets/css/variables";
@import "../../../../common-assets/css/rootui-parts/project-management";
.ssssss{
  padding: 12px 6px !important;
}
.spinner_css_12345{
  justify-content: center;
    position: absolute;
    width: 40px;
    height:40px;
    margin-left:43%;
    font-size: 14px;
}
.table22{
  min-width: auto !important;
}
.masters_btn{

    padding: 5px 15px;
}
.masters_span1{
  display: inline-flex;
    padding: 12.5px 25px;

}
.dope{
  white-space: nowrap;
}
.rui-filemanager .ssb{
  min-width: 100% !important;

}
.masters_btn_edit{
  margin-right: 5px;
}
.city_add{
  display: inline-flex;
  width: 100%;
}
.city_add_input{
  margin-right: 20px;
}
.rui-filemanager .rui-filemanager-table .ssb{
  width: 100% !important;
}
.city_m{
  margin-right: 50px !important;
  white-space: nowrap;
}
.city_input{
  margin-right: 10px !important;
}
.button_city{
  white-space: nowrap  !important;
}
@media (min-width: 576px){

  .sss{
      float: right;
  }

}
@media (max-width: 576px){
  .masters_span{
    display: inline-flex;
      padding: 12.5px 15px;

  }
  .card-body {
    padding: 25px 10px !important;
}
  .sss{
      float: left;
  }
  .rose{
    margin-top: 10px;
  }
  .rui-filemanager .ssb{
    min-width: 100% !important;

  }
  .rui-filemanager .rui-filemanager-table .ssb{
    width: 100% !important;
  }
  .rui-filemanager .table22 {
    min-width: min-content !important;
}
}
@media (max-width: 768px){


}
@media only screen
and (min-width: 1024px)
and (max-height: 1366px)
and (-webkit-min-device-pixel-ratio: 1.5) {

}

@media only screen
and (min-width: 1440px)
and (max-height: 900px)
and (-webkit-min-device-pixel-ratio: 1.5) {

}
